<template>
  <div class="px-4 py-4">
    <a-card class="low-detail mb-4">
      <div class="low-detail__content mb-6">
        <a-typography-title :level="4" class="mb-1">
          #{{ law.ID }} {{ law.name }}
        </a-typography-title>
        <a-typography-text type="secondary">
          Учитель: {{ law.witcher && law.witcher.name }}
        </a-typography-text>
        <div class="mt-4">
          <div class="mb-1">
            <a-typography-text type="secondary">Адрес</a-typography-text>
          </div>
          <a-typography-text> {{ law.location }}</a-typography-text>
        </div>
        <div class="mt-4">
          <div class="mb-1">
            <a-typography-text type="secondary">Описание</a-typography-text>
          </div>
          <a-typography-text> {{ law.description }}</a-typography-text>
        </div>
      </div>
    </a-card>
  </div>
</template>

<script>
import { LawController } from '@/controllers/LawController'
import { mapState } from 'vuex'

export default {
  name: 'LawDetail',
  props: ['id'],
  data() {
    return {}
  },
  computed: {
    ...mapState({
      law: (state) => state.lawsStore.law,
    }),
  },
  async mounted() {
    await LawController.loadLawsDetail(this.id)
  },
}
</script>
