<template>
  <div class="px-4 py-4">
    <CreateStudentForm :witcher-id="currentUser.witcher_id" @loadUser="loadUser" />
    <a-card class="user-profile mb-4">
      <div class="user-profile__content d-flex mb-6">
        <a-avatar class="mb-2 mr-4" :size="64">
          <template #icon>
            <UserOutlined />
          </template>
        </a-avatar>
        <div class="d-flex flex flex-column">
          <div class="d-flex flex justify-space-between">
            <div class="d-flex">
              <a-typography-title :level="4" class="mb-0 d-flex align-center">
                {{ currentUser.name }}
              </a-typography-title>
              <div class="d-flex align-center ml-4">
                <a-tag v-if="currentUser.is_dead" color="red">Убит</a-tag>
                <a-tag v-if="currentUser.is_banned" color="red">Исключен</a-tag>
              </div>
            </div>
            <div v-if="isWitcher || isHeadmaster">
              <a-button class="mr-4" @click="editStudent">
                <EditOutlined />
              </a-button>
              <a-popover v-if="currentUser.role === 'student'">
                <template #content>Перевести в ведьмаки</template>
                <a-button
                  class="mr-4"
                  :disabled="currentUser.is_dead || currentUser.is_banned"
                  @click="convertToWitcher">
                  <ArrowUpOutlined />
                </a-button>
              </a-popover>
              <a-popover v-if="currentUser.is_banned">
                <template #content>Принять обратно</template>
                <a-button @click="includeStudent">
                  <ImportOutlined />
                </a-button>
              </a-popover>

              <a-popover v-else>
                <template #content>Исключить</template>
                <a-button danger @click="excludeStudent">
                  <ExportOutlined />
                </a-button>
              </a-popover>
            </div>
          </div>
          <a-typography-text v-if="currentUser.role === 'student'" type="secondary">
            <span v-if="currentUser.witcher">
              Ученик ведьмака: {{ currentUser.witcher.name }}
            </span>
            <span v-else> Без ведьмака </span>
          </a-typography-text>
          <a-typography-text v-else-if="currentUser.role === 'witcher'" type="secondary">
            Ведьмак
          </a-typography-text>
          <div class="mt-4">
            <a-typography-title :level="5"> Уровень: {{ currentUser.level }}</a-typography-title>
          </div>
          <UserSkills :current-user="currentUser" class="mt-4" />
        </div>
      </div>
    </a-card>
    <a-card v-if="currentPage === 'users'" class="user-quests">
      <a-list class="user-quests__list" :data-source="quests" :bordered="true">
        <template #renderItem="{ item }">
          <QuestCard :quest="item" />
        </template>
      </a-list>
    </a-card>
    <a-card v-else class="students">
      <a-list class="students__list" :data-source="users" :bordered="true">
        <template #renderItem="{ item }">
          <UserCard :user="item" />
        </template>
      </a-list>
    </a-card>
  </div>
</template>

<script>
import { UserController } from '@/controllers/UserController'
import {
  UserOutlined,
  EditOutlined,
  ImportOutlined,
  ExportOutlined,
  ArrowUpOutlined,
} from '@ant-design/icons-vue'
import { QuestController } from '@/controllers/QuestController'
import { mapActions, mapGetters, mapState } from 'vuex'
import QuestCard from '@/modules/quests/QuestCard.vue'
import CreateStudentForm from '@/modules/users/CreateStudentForm.vue'
import UserCard from '@/modules/users/UserCard.vue'
import UserSkills from '@/pages/users/user-detali/components/UserSkills.vue'

export default {
  name: 'UserDetail',
  props: ['id'],
  components: {
    UserSkills,
    UserCard,
    CreateStudentForm,
    QuestCard,
    UserOutlined,
    EditOutlined,
    ImportOutlined,
    ExportOutlined,
    ArrowUpOutlined,
  },

  computed: {
    ...mapState({
      quests: (state) => state.questsStore.quests,
      users: (state) => state.usersStore.users,
      currentUser: (state) => state.usersStore.currentUser,
    }),
    ...mapGetters({
      isWitcher: 'authStore/isWitcher',
      isHeadmaster: 'authStore/isHeadmaster',
    }),
    currentPage() {
      return this.$route.path.slice(1, this.$route.path.length + 1)
    },
  },
  methods: {
    ...mapActions({
      toggleStudentModal: 'lawsStore/toggleStudentModal',
      updateFormCreateStudent: 'lawsStore/updateFormCreateStudent',
    }),

    async editStudent() {
      await this.updateFormCreateStudent({
        name: this.currentUser.name,
        description: this.currentUser.description,
        location: this.currentUser.location,
        email: this.currentUser.email,
        password: this.currentUser.password,
        intelligence: this.currentUser.intelligence,
        agility: this.currentUser.agility,
        strength: this.currentUser.strength,
        id: this.currentUser.ID,
      })
      await this.toggleStudentModal({
        value: true,
        mode: 'edit',
      })
    },

    async loadUser() {
      await UserController.getUser(this.id).catch((err) => console.error(err))
    },

    async excludeStudent() {
      await UserController.excludeStudent(this.id)
      await this.loadUser()
    },
    async includeStudent() {
      await UserController.includeStudent(this.id)
      await this.loadUser()
    },
    async convertToWitcher() {
      await UserController.convertToWitcher(this.id)
      await this.loadUser()
    },
  },
  async mounted() {
    try {
      const promises = [await this.loadUser()]
      if (this.currentUser.role === 'student') {
        promises.push(await QuestController.loadQuestList({ student_id: this.currentUser.ID }))
      } else if (this.currentUser.role === 'witcher') {
        promises.push(await UserController.loadUsers({ witcher_id: this.id }))
      }
      await Promise.all(promises)
    } catch (err) {
      console.error(err)
    }
  },
}
</script>
