<template>
  <div class="mt-2 mr-4">
    <a-typography-text> Ловкость: {{ currentUser.agility }}</a-typography-text>
  </div>
  <div class="mt-2 mr-4">
    <a-typography-text> Сила: {{ currentUser.strength }}</a-typography-text>
  </div>
  <div class="mt-2 mr-4">
    <a-typography-text> Интеллект: {{ currentUser.intelligence }}</a-typography-text>
  </div>
</template>
<script>
export default {
  props: ['currentUser'],
}
</script>
