<template>
  <div class="px-4 py-4">
    <a-typography-title :level="4">Авторизация</a-typography-title>

    <a-form
      :model="formState"
      :rules="rules"
      autocomplete="off"
      class="signup-form mt-4"
      layout="vertical"
      @finish="submit">
      <a-form-item label="Почта" name="email">
        <a-input v-model:value="formState.email" placeholder="Введите почту"></a-input>
      </a-form-item>
      <a-form-item label="Пароль" name="password">
        <a-input
          v-model:value="formState.password"
          placeholder="Введите пароль"
          type="password"></a-input>
      </a-form-item>

      <a-button block class="mt-4" html-type="submit">Войти</a-button>
    </a-form>
  </div>
</template>

<script>
import { reactive } from 'vue'
import { useRouter } from 'vue-router'
import { AuthController } from '@/controllers/AuthController'

export default {
  setup() {
    const formState = reactive({
      email: '',
      password: '',
    })
    const router = useRouter()

    const rules = {
      email: [{ required: true, message: 'Please input email', trigger: 'blur' }],
      password: [{ required: true, message: 'Please input password', trigger: 'blur' }],
    }

    return {
      formState,
      router,
      rules,
    }
  },
  methods: {
    async submit() {
      try {
        await AuthController.signin(this.formState)
        await this.router.push('/')
      } catch (err) {
        console.error(err)
      }
    },
  },
}
</script>

<style lang="less"></style>
