<template>
  <a-list-item class="quests-list__item quest-item">
    <a-list-item-meta>
      <template #title>
        <a-typography-link :href="'quests/' + quest.ID" class="mr-2">
          &#8470;
          {{ quest.ID }}
        </a-typography-link>
        <span>{{ quest.title }}</span>
      </template>
      <template #description>
        <div>
          <QuestStatusTag :quest="quest" />
          <div class="mb-4">{{ quest.description }}</div>
          <div>
            <div class="mb-2">
              <RouterLink :to="'/quests/' + quest.ID">
                <a-typography-link> Подробнее</a-typography-link>
              </RouterLink>
            </div>
            <div>
              <strong>Рекомендуемый уровень {{ quest.preferred_level }}</strong>
            </div>
          </div>
        </div>
      </template>
    </a-list-item-meta>

    <template #actions>
      <div>
        <div
          v-if="route.name === 'QuestsListPage'"
          class="quest-item__avatar d-flex flex-column align-center">
          <a-avatar class="mb-2" :size="64">
            <template #icon>
              <UserOutlined />
            </template>
          </a-avatar>
          <div>
            <RouterLink v-if="quest.student_id" :to="'/users/' + quest.student_id">
              <a-typography-link>
                {{ quest.student.name }}
              </a-typography-link>
            </RouterLink>
            <a-typography-text v-else disabled>None</a-typography-text>
          </div>
        </div>

        <QuestDeathActions
          v-if="quest.status === 'InProgress'"
          class="ml-6 mt-4"
          :quest="quest"
          @loadQuests="$emit('loadQuests')" />
      </div>
    </template>
  </a-list-item>
</template>
<script>
import { mapState } from 'vuex'
import { UserOutlined } from '@ant-design/icons-vue'
import { QuestController } from '@/controllers/QuestController'
import QuestStatusTag from '@/modules/quests/components/QuestStatusTag.vue'
import { UserController } from '@/controllers/UserController'
import QuestDeathActions from '@/pages/quests/quest-detali/components/QuestDeathActions.vue'

export default {
  props: ['quest'],
  components: {
    QuestDeathActions,
    QuestStatusTag,
    UserOutlined,
  },
  computed: {
    route() {
      return this.$route
    },
  },
}
</script>

<style lang="less">
.quest-item {
  .ant-list-item-action {
    width: 20%;
    display: flex;
    justify-items: center;

    li {
      display: flex;
      flex: 1;
    }
  }
}
</style>
