<template>
  <div class="px-4 py-4">
    <a-card>
      <div class="d-flex flex justify-space-between mb-4">
        <a-typography-title :level="4">{{ capitalizeFirstLetter(title) }}</a-typography-title>
        <a-button @click="openCreateStudentModal">
          <UserAddOutlined />
        </a-button>
      </div>
      <CreateStudentForm
        :title="this.title.slice(0, this.title.length - 1) + 'a'"
        @createStudent="createStudent" />
      <SegmentedOptionsByRole
        class="mb-4"
        :segmented-options="segmentedOptions[this.role][this.currentPage]"
        :segmented-value="segmentedValue[this.role][this.currentPage]"
        @updateSegmentedValue="updateSegmentedValue" />
      <a-table :dataSource="users" :columns="columns" :pagination="false">
        <template #bodyCell="{ column, record }">
          <template v-if="column.dataIndex === 'operation'">
            <RouterLink :to="'/users/' + record.ID">
              <a-typography-link> Подробнее</a-typography-link>
            </RouterLink>
          </template>
        </template>
      </a-table>
    </a-card>
  </div>
</template>
<script>
import { UserController } from '@/controllers/UserController'
import { mapActions, mapGetters, mapState } from 'vuex'
import CreateStudentForm from '@/modules/users/CreateStudentForm.vue'
import { UserAddOutlined } from '@ant-design/icons-vue'
import {
  segmentedValue,
  segmentedOptions,
} from '@/pages/users/users-list/components/segmentedUsers'
import SegmentedOptionsByRole from '@/components/segmented/SegmentedOptions.vue'

export default {
  name: 'UsersList',
  components: { SegmentedOptionsByRole, CreateStudentForm, UserAddOutlined },
  data() {
    return {
      segmentedValue,
      segmentedOptions,
      quests: [],
    }
  },
  computed: {
    ...mapState({
      users: (state) => state.usersStore.users,
      role: (state) => state.authStore.user.role,
    }),
    ...mapGetters({
      isHeadmaster: 'authStore/isHeadmaster',
    }),
    currentPage() {
      return this.$route.path.slice(1, this.$route.path.length + 1)
    },
    title() {
      if (this.role === 'headmaster' && this.$route.path === '/witchers') {
        return 'ведьмаки'
      }
      return 'ученики'
    },
    columns() {
      return [
        {
          title: 'ID ' + this.title.slice(0, this.title.length - 1) + 'a',
          dataIndex: 'ID',
        },
        {
          title: 'Имя',
          dataIndex: 'name',
        },
        {
          title: '',
          dataIndex: 'operation',
        },
      ]
    },
  },
  async mounted() {
    await this.loadUsers()
  },
  methods: {
    ...mapActions({
      toggleStudentModal: 'lawsStore/toggleStudentModal',
    }),
    openCreateStudentModal() {
      this.toggleStudentModal({
        value: true,
        mode: 'create',
      })
    },
    async createStudent(formState) {
      if (this.isHeadmaster && this.currentPage === 'witchers') {
        formState.role = 'witcher'
      }
      await UserController.createUser(formState)
      await this.loadUsers()
    },
    updateSegmentedValue(value) {
      this.segmentedValue[this.role][this.currentPage] = value
      this.loadUsers()
    },
    async loadUsers() {
      await UserController.loadUsers({
        segmentedValue: this.segmentedValue[this.role][this.currentPage],
      })
    },
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1)
    },
  },
  watch: {
    '$route.path'(newvalue) {
      this.loadUsers()
    },
  },
}
</script>

<style lang="less"></style>
