<template>
  <div class="px-4 py-4">
    <a-card>
      <div class="d-flex flex justify-space-between">
        <a-typography-title :level="4" class="mb-4">Права неожиданности</a-typography-title>
        <CreateLawForm></CreateLawForm>
      </div>
      <a-list class="laws-list" :data-source="laws" :bordered="true">
        <template #renderItem="{ item }">
          <LawCard :law="item" />
        </template>
      </a-list>
    </a-card>
    <CreateStudentForm @createStudent="createStudent" />
  </div>
</template>
<script>
import { LawController } from '@/controllers/LawController'
import CreateLawForm from '@/pages/laws/laws-list/сomponents/CreateLawForm.vue'
import { mapState } from 'vuex'
import LawCard from '@/pages/laws/laws-list/сomponents/LawCard.vue'
import CreateStudentForm from '@/modules/users/CreateStudentForm.vue'

export default {
  name: 'LawsList',
  components: { CreateStudentForm, LawCard, CreateLawForm },
  data() {
    return {}
  },
  computed: {
    ...mapState({
      user: (state) => state.authStore.user,
      laws: (state) => state.lawsStore.laws,
    }),
  },
  async mounted() {
    try {
      await LawController.loadLawsList(this.user.ID)
    } catch (err) {
      console.error(err)
    }
  },

  methods: {
    async createStudent(formState) {
      await LawController.createStudent(formState)
      await LawController.loadLawsList()
    },
  },
}
</script>

<style scoped></style>
