<template>
  <div>
    <a-modal
      v-model:open="isOpenModal"
      :title="(isCreateMode ? 'Создать ' : 'Редактировать') + (title || ' ученика')"
      :ok-text="isCreateMode ? 'Создать' : 'Редактировать'"
      cancel-text="Отменить"
      :ok-button-props="{ disabled: isDisabled }"
      @cancel="resetForm"
      @ok="handlerAction">
      <a-form :model="formState" layout="vertical">
        <a-form-item
          v-if="!isLaw"
          label="Имя"
          name="name"
          :rules="[{ required: true, message: 'Заполните поле имя' }]">
          <a-input v-model:value="formState.name"></a-input>
        </a-form-item>
        <a-form-item
          v-if="!isLaw"
          label="Описание"
          name="description"
          :rules="[{ required: true, message: 'Заполните поле описание' }]">
          <a-textarea v-model:value="formState.description"></a-textarea>
        </a-form-item>

        <a-form-item
          v-if="isCreateMode"
          label="Почта"
          name="email"
          :rules="[{ required: true, message: 'Заполните поле почта' }]">
          <a-input v-model:value="formState.email"></a-input>
        </a-form-item>
        <a-form-item
          v-if="isCreateMode"
          label="Пароль"
          name="password"
          :rules="[{ required: true, message: 'Заполните поле пароль' }]">
          <a-input v-model:value="formState.password"></a-input>
        </a-form-item>
        <a-form-item
          v-if="isHeadmaster && formState.role === 'student' && !witcherId"
          label="Ведьмак"
          name="witcher_id">
          <a-select
            v-model:value="formState.witcher_id"
            :options="users"
            :field-names="{ value: 'ID', label: 'name' }"></a-select>
        </a-form-item>
        <a-row :gutter="16">
          <a-col :span="8">
            <a-form-item label="Интеллект" name="intelligence">
              <a-input-number v-model:value="formState.intelligence"></a-input-number>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item label="Ловкость" name="agility">
              <a-input-number v-model:value="formState.agility"></a-input-number>
            </a-form-item>
          </a-col>

          <a-col :span="8">
            <a-form-item label="Сила" name="strength">
              <a-input-number v-model:value="formState.strength"></a-input-number>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
    </a-modal>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
import { UserController } from '@/controllers/UserController'

export default {
  props: ['isLaw', 'title', 'witcherId'],
  data() {
    return {}
  },
  async mounted() {
    await UserController.loadUsers({ role: 'witcher' })
  },
  computed: {
    ...mapGetters({
      isWitcher: 'authStore/isWitcher',
      isHeadmaster: 'authStore/isHeadmaster',
    }),
    ...mapState({
      formState: (state) => state.lawsStore.formCreateStudent,
      isOpenModal: (state) => state.lawsStore.studentModal.value,
      mode: (state) => state.lawsStore.studentModal.mode,
      users: (state) => state.usersStore.users,
    }),
    isCreateMode() {
      return this.mode === 'create'
    },
    isDisabled() {
      const conditionCreate = !(
        this.formState.email &&
        this.formState.password &&
        this.formState.name &&
        this.formState.description
      )
      const conditionEdit = !(this.formState.name && this.formState.description)
      return this.isCreateMode ? conditionCreate : conditionEdit
    },
  },
  methods: {
    ...mapActions({
      resetCreateStudentForm: 'lawsStore/resetCreateStudentForm',
      toggleStudentModal: 'lawsStore/toggleStudentModal',
    }),
    handlerAction() {
      if (this.isCreateMode) {
        this.createStudent()
      } else {
        this.editStudent()
      }
    },
    async createStudent() {
      try {
        await this.$emit('createStudent', this.formState)
      } finally {
        await this.toggleStudentModal({
          value: false,
          mode: '',
        })
      }
    },
    async editStudent() {
      await UserController.editUser(this.formState)
      await this.toggleStudentModal({
        value: false,
        mode: '',
      })
      this.$emit('loadUser')
    },
    resetForm() {
      this.toggleStudentModal({
        value: false,
        mode: '',
      })
      this.resetCreateStudentForm()
    },
  },
}
</script>
