<template>
  <a-list-item class="users-list__item user-item">
    <a-list-item-meta>
      <template #title>
        <a-typography-link :href="'users/' + user.ID" class="mr-2">
          &#8470;
          {{ user.ID }}
        </a-typography-link>
        <span>{{ user.name }}</span>
      </template>
      <template #description>
        <div>
          <div class="mb-4">{{ user.description }}</div>
          <div>
            <div class="mb-2">
              <RouterLink :to="'/users/' + user.ID">
                <a-typography-link> Подробнее</a-typography-link>
              </RouterLink>
            </div>
            <div style="display: flex">
              <UserSkills :current-user="user" />
            </div>
          </div>
        </div>
      </template>
    </a-list-item-meta>
  </a-list-item>
</template>
<script>
import UserSkills from '@/pages/users/user-detali/components/UserSkills.vue'

export default {
  props: ['user'],
  components: { UserSkills },
  computed: {
    route() {
      return this.$route
    },
  },
}
</script>

<style lang="less">
.quest-item {
  .ant-list-item-action {
    width: 20%;
    display: flex;
    justify-items: center;

    li {
      display: flex;
      flex: 1;
    }
  }
}
</style>
