<template>
  <div class="users-skills">
    <div class="user-skills__agility"></div>
    <div class="user-skills__intelligence"></div>
    <div class="user-skills__strength"></div>
  </div>
</template>

<script>
export default {
  props: ['user'],
}
</script>
