<template>
  <div>
    <a-button v-if="isWitcher" @click="isOpenModal = true">Создать ПН</a-button>
    <a-modal
      v-model:open="isOpenModal"
      title="Создать право неожиданности"
      ok-text="Cоздать"
      cancel-text="Отменить"
      :ok-button-props="{ disabled: isDisabled }"
      @ok="createLaw">
      <a-form :model="formState" layout="vertical">
        <a-form-item label="Имя" name="name">
          <a-input v-model:value="formState.name"></a-input>
        </a-form-item>
        <a-form-item label="Описание" name="description">
          <a-textarea v-model:value="formState.description"></a-textarea>
        </a-form-item>
        <a-form-item label="Город проживания" name="location">
          <a-textarea v-model:value="formState.location"></a-textarea>
        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { LawController } from '@/controllers/LawController'

export default {
  data() {
    return {
      isOpenModal: false,
      formState: {
        name: '',
        description: '',
        location: '',
      },
    }
  },
  methods: {
    async createLaw() {
      try {
        await LawController.createLaw(this.formState).then(() => {
          LawController.loadLawsList()
        })
      } finally {
        this.isOpenModal = false
      }
    },
  },
  computed: {
    ...mapGetters({
      isWitcher: 'authStore/isWitcher',
    }),
    isDisabled() {
      return !(this.formState.name && this.formState.location && this.formState.description)
    },
  },
}
</script>
