<template>
  <a-list-item class="law-list__item law-item">
    <a-list-item-meta>
      <template #title>
        <a-typography-link :href="'laws/' + law.ID" class="mr-2">
          &#8470;
          {{ law.ID }}
          <span>{{ law.name }}</span>
        </a-typography-link>
      </template>
      <template #description>
        <div class="mb-4">
          <a-typography-text>{{ law.location }}</a-typography-text>
        </div>

        <div class="mb-4">{{ law.description }}</div>
      </template>
    </a-list-item-meta>

    <template #actions>
      <div class="law-item__actions d-flex ml-6 mt-2">
        <a-button class="mr-4" @click="openCreateStudentModal">
          <UserAddOutlined />
        </a-button>
        <a-button danger qhost class="action-save" @click="removeLaw">
          <DeleteOutlined />
        </a-button>
      </div>
    </template>
  </a-list-item>
</template>
<script>
import { UserAddOutlined, DeleteOutlined } from '@ant-design/icons-vue'
import { mapActions } from 'vuex'
import { LawController } from '@/controllers/LawController'

export default {
  props: ['law'],
  components: {
    DeleteOutlined,
    UserAddOutlined,
  },

  computed: {},
  methods: {
    ...mapActions({
      toggleStudentModal: 'lawsStore/toggleStudentModal',
      updateFormCreateStudent: 'lawsStore/updateFormCreateStudent',
    }),

    openCreateStudentModal() {
      this.updateFormCreateStudent({
        name: this.law.name,
        description: this.law.description,
        location: this.law.location,
        law_id: this.law.ID,
      })
      this.toggleStudentModal({
        value: true,
        mode: 'create',
      })
    },
    removeLaw() {
      LawController.removeLaw(this.law.ID).then(() => {
        LawController.loadLawsList()
      })
    },
  },
}
</script>

<style lang="less">
.law-list__item {
  :where(.css-dev-only-do-not-override-eq3tly).ant-list .ant-list-item {
    align-items: flex-start;
  }
}

.ant-list-item-action {
  display: flex;
  justify-items: center;

  li {
    //display: flex;
    //flex: 1;
  }
}
</style>
