<template>
  <div class="px-4 py-4">
    <a-card class="low-detail mb-4">
      <div class="low-detail__content mb-6">
        <div class="d-flex flex justify-space-between">
          <a-typography-title :level="4" class="mb-1">
            #{{ quest.ID }} {{ quest.title }}
          </a-typography-title>
          <div class="d-flex">
            <QuestForm :quest="quest" @loadQuest="loadQuest" />
            <QuestRemoveModal v-if="isWitcher" :id="quest.ID" class="ml-4" />
            <a-button
              v-if="isStudent && quest.status === 'ToDo' && !quest.is_done"
              @click="startQuest">
              Приступить к выполнению
            </a-button>
            <a-button v-if="isStudent && quest.status === 'ToDo'" @click="sendToReview">
              Отправить на проверку
            </a-button>
          </div>
        </div>
        <a-typography-text type="secondary">
          Рекомендуемый уровень: {{ quest.preferred_level }}
        </a-typography-text>

        <div class="mt-1">
          <QuestStatusTag v-if="quest && quest.status" :quest="quest" />
        </div>
        <div class="mt-2">
          <div class="mb-1">
            <a-typography-text type="secondary">Самый необходимый атрибут</a-typography-text>
          </div>
          <a-typography-text> {{ quest.most_needed_attribute }}</a-typography-text>
        </div>
        <div class="mt-2">
          <div class="mb-1">
            <a-typography-text type="secondary">Описание</a-typography-text>
          </div>
          <a-typography-text> {{ quest.description }}</a-typography-text>
        </div>
        <div class="mt-2">
          <div class="mb-1">
            <a-typography-text type="secondary">Ученик</a-typography-text>
          </div>
          <RouterLink v-if="quest.student" :to="'/users/' + quest.student_id">
            <a-typography-link>
              {{ quest.student.name }}
            </a-typography-link>
          </RouterLink>
          <a-typography-text v-else disabled>None</a-typography-text>
        </div>
        <QuestDeathActions
          v-if="quest.status === 'InProgress'"
          class="mt-4"
          :quest="quest"
          @loadQuests="loadQuest" />
        <QuestWitcherActions
          v-if="quest.status === 'InReview'"
          class="mt-4"
          :quest="quest"
          @loadQuests="loadQuest" />
      </div>
    </a-card>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import { QuestController } from '@/controllers/QuestController'
import QuestStatusTag from '@/modules/quests/components/QuestStatusTag.vue'
import QuestForm from '@/pages/quests/quest-list/components/QuestForm.vue'
import QuestRemoveModal from '@/pages/quests/quest-detali/components/QuestRemoveModal.vue'
import QuestDeathActions from '@/pages/quests/quest-detali/components/QuestDeathActions.vue'
import QuestWitcherActions from '@/pages/quests/quest-detali/components/QuestWitcherActions.vue'

export default {
  name: 'LawDetail',
  components: {
    QuestWitcherActions,
    QuestDeathActions,
    QuestRemoveModal,
    QuestForm,
    QuestStatusTag,
  },
  props: ['id'],
  data() {
    return {}
  },
  computed: {
    ...mapState({
      quest: (state) => state.questsStore.quest,
    }),
    ...mapGetters({
      isWitcher: 'authStore/isWitcher',
      isStudent: 'authStore/isStudent',
    }),
  },
  async mounted() {
    await this.loadQuest()
  },
  methods: {
    async loadQuest() {
      await QuestController.loadQuestDetail(this.id)
    },
    async startQuest() {
      await QuestController.updateQuest(this.quest.ID, {
        status: 'InProgress',
      })
      await this.loadQuest()
    },
    async sendToReview() {
      await QuestController.updateQuest(this.quest.ID, {
        status: 'InReview',
      })
      await this.loadQuest()
    },
  },
}
</script>
