<template>
  <main>
    <a-typography-title class="mt-3" :level="3">
      Добро пожаловать в школу Ведьмаков!
    </a-typography-title>
    <a-card class="m-0">
      <a-typography-text style="font-size: medium; font-weight: 500">{{ info }}</a-typography-text>
    </a-card>
  </main>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'HomePage',
  computed: {
    ...mapState({
      user: (state) => state.authStore.user,
    }),
    info: function () {
      const texts = {
        death: 'Вы - Смерть, санитар леса(школы ведьмаков). Ваша задача отсеивать слабых',
        witcher:
          'Вы - Ведьмак. Ваша задача создавать ' +
          'труднейшие испытания для молодых подаванов, ваших учеников.' +
          ' Создавайте права неожиданности, учеников. Тренируйте их и тд',
        student:
          'Вы - студент. Ваша задача быть хорошим учеником. Выполнять задания и стать ведьмаком',
        headmaster: 'Вы - ГлавВедьмак. Ваша задача быть ГлавВедьмаком',
      }
      return texts[this.user.role] || ''
    },
  },
}
</script>

<style scoped></style>
