<template>
  <div class="px-4 py-4">
    <a-card>
      <div class="d-flex flex justify-space-between">
        <a-typography-title :level="4" class="mb-4">Испытания</a-typography-title>
        <QuestForm :is-create-mode="true" @loadQuests="loadQuests"></QuestForm>
      </div>
      <SegmentedOptionsByRole
        class="mb-4"
        :segmented-options="segmentedOptions[this.role]"
        :segmented-value="segmentedValue[this.role]"
        @updateSegmentedValue="updateSegmentedValue" />
      <a-list class="quests-list" :data-source="quests" :bordered="true">
        <template #renderItem="{ item }">
          <QuestCard :quest="item" @loadQuests="loadQuests" />
        </template>
      </a-list>
    </a-card>
  </div>
</template>
<script>
import { QuestController } from '@/controllers/QuestController'
import { mapState } from 'vuex'
import QuestForm from '@/pages/quests/quest-list/components/QuestForm.vue'
import QuestCard from '@/modules/quests/QuestCard.vue'
import SegmentedOptionsByRole from '@/components/segmented/SegmentedOptions.vue'
import {
  segmentedOptions,
  segmentedValue,
} from '@/pages/quests/quest-list/components/segmentedQuests'

export default {
  name: 'QuestsList',
  components: {
    SegmentedOptionsByRole,
    QuestCard,
    QuestForm,
  },
  data() {
    return {
      segmentedOptions,
      segmentedValue,
      columns: [
        {
          title: 'ID испытания',
          dataIndex: 'id',
        },
        {
          title: 'Название',
          dataIndex: 'title',
        },
        {
          title: 'Описание',
          dataIndex: 'description',
        },
        {
          title: 'Ученик',
          dataIndex: 'student_id',
        },
        {
          title: 'Детали',
          dataIndex: 'operation',
        },
      ],
    }
  },

  computed: {
    ...mapState({
      quests: (state) => state.questsStore.quests,
      statuses: (state) => state.questsStore.statuses,
      role: (state) => state.authStore.user.role,
    }),
  },
  methods: {
    updateSegmentedValue(value) {
      this.segmentedValue[this.role] = value
      this.loadQuests()
    },
    async loadQuests() {
      await QuestController.loadQuestList({ segmentedValue: this.segmentedValue[this.role] })
    },
  },
  async mounted() {
    await this.loadQuests()
  },
}
</script>

<style scoped lang="less">
.quests-list {
  &__item {
    .quest-item__avatar {
      width: 200px;
    }
  }
}
</style>
