<template>
  <a-segmented v-model:value="currentSegmentedValue" :options="segmentedOptions">
    <template #label="{ title }">
      <span>{{ title }}</span>
    </template>
  </a-segmented>
</template>
<script>
export default {
  props: ['segmentedValue', 'segmentedOptions'],

  computed: {
    currentSegmentedValue: {
      get() {
        return this.segmentedValue
      },
      set(value) {
        this.$emit('updateSegmentedValue', value)
      },
    },
  },
}
</script>
