@module: 4px;

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: @module * 1 !important;
}

.mt-1,
.my-1 {
  margin-top: @module * 1 !important;
}

.mr-1,
.mx-1 {
  margin-right: @module * 1 !important;
}

.mb-1,
.my-1 {
  margin-bottom: @module * 1 !important;
}

.ml-1,
.mx-1 {
  margin-left: @module * 1 !important;
}

.m-2 {
  margin: @module * 2 !important;
}

.mt-2,
.my-2 {
  margin-top: @module * 2 !important;
}

.mr-2,
.mx-2 {
  margin-right: @module * 2 !important;
}

.mb-2,
.my-2 {
  margin-bottom: @module * 2 !important;
}

.ml-2,
.mx-2 {
  margin-left: @module * 2 !important;
}

.m-3 {
  margin: @module * 3 !important;
}

.mt-3,
.my-3 {
  margin-top: @module * 3 !important;
}

.mr-3,
.mx-3 {
  margin-right: @module * 3 !important;
}

.mb-3,
.my-3 {
  margin-bottom: @module * 3 !important;
}

.ml-3,
.mx-3 {
  margin-left: @module * 3 !important;
}

.m-4 {
  margin: @module * 4 !important;
}

.mt-4,
.my-4 {
  margin-top: @module * 4 !important;
}

.mr-4,
.mx-4 {
  margin-right: @module * 4 !important;
}

.mb-4,
.my-4 {
  margin-bottom: @module * 4 !important;
}

.ml-4,
.mx-4 {
  margin-left: @module * 4 !important;
}

.m-5 {
  margin: @module * 6 !important;
}

.mt-5,
.my-5 {
  margin-top: @module * 6 !important;
}

.mr-5,
.mx-5 {
  margin-right: @module * 6 !important;
}

.mb-5,
.my-5 {
  margin-bottom: @module * 6 !important;
}

.ml-5,
.mx-5 {
  margin-left: @module * 6 !important;
}

.m-6 {
  margin: @module * 8 !important;
}

.mt-6,
.my-6 {
  margin-top: @module * 8 !important;
}

.mr-6,
.mx-6 {
  margin-right: @module * 8 !important;
}

.mb-6,
.my-6 {
  margin-bottom: @module * 8 !important;
}

.ml-6,
.mx-6 {
  margin-left: @module * 8 !important;
}

.m-7 {
  margin: @module * 10 !important;
}

.mt-7,
.my-7 {
  margin-top: @module * 10 !important;
}

.mr-7,
.mx-7 {
  margin-right: @module * 10 !important;
}

.mb-7,
.my-7 {
  margin-bottom: @module * 10 !important;
}

.ml-7,
.mx-7 {
  margin-left: @module * 10 !important;
}

.m-8 {
  margin: @module * 12 !important;
}

.mt-8,
.my-8 {
  margin-top: @module * 12 !important;
}

.mr-8,
.mx-8 {
  margin-right: @module * 12 !important;
}

.mb-8,
.my-8 {
  margin-bottom: @module * 12 !important;
}

.ml-8,
.mx-8 {
  margin-left: @module * 12 !important;
}

.m-9 {
  margin: @module * 16 !important;
}

.mt-9,
.my-9 {
  margin-top: @module * 16 !important;
}

.mr-9,
.mx-9 {
  margin-right: @module * 16 !important;
}

.mb-9,
.my-9 {
  margin-bottom: @module * 16 !important;
}

.ml-9,
.mx-9 {
  margin-left: @module * 16 !important;
}

.m-10 {
  margin: @module * 24 !important;
}

.mt-10,
.my-10 {
  margin-top: @module * 24 !important;
}

.mr-10,
.mx-10 {
  margin-right: @module * 24 !important;
}

.mb-10,
.my-10 {
  margin-bottom: @module * 24 !important;
}

.ml-10,
.mx-10 {
  margin-left: @module * 24 !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: @module * 1 !important;
}

.pt-1,
.py-1 {
  padding-top: @module * 1 !important;
}

.pr-1,
.px-1 {
  padding-right: @module * 1 !important;
}

.pb-1,
.py-1 {
  padding-bottom: @module * 1 !important;
}

.pl-1,
.px-1 {
  padding-left: @module * 1 !important;
}

.p-2 {
  padding: @module * 2 !important;
}

.pt-2,
.py-2 {
  padding-top: @module * 2 !important;
}

.pr-2,
.px-2 {
  padding-right: @module * 2 !important;
}

.pb-2,
.py-2 {
  padding-bottom: @module * 2 !important;
}

.pl-2,
.px-2 {
  padding-left: @module * 2 !important;
}

.p-3 {
  padding: @module * 3 !important;
}

.pt-3,
.py-3 {
  padding-top: @module * 3 !important;
}

.pr-3,
.px-3 {
  padding-right: @module * 3 !important;
}

.pb-3,
.py-3 {
  padding-bottom: @module * 3 !important;
}

.pl-3,
.px-3 {
  padding-left: @module * 3 !important;
}

.p-4 {
  padding: @module * 4 !important;
}

.pt-4,
.py-4 {
  padding-top: @module * 4 !important;
}

.pr-4,
.px-4 {
  padding-right: @module * 4 !important;
}

.pb-4,
.py-4 {
  padding-bottom: @module * 4 !important;
}

.pl-4,
.px-4 {
  padding-left: @module * 4 !important;
}

.p-5 {
  padding: @module * 6 !important;
}

.pt-5,
.py-5 {
  padding-top: @module * 6 !important;
}

.pr-5,
.px-5 {
  padding-right: @module * 6 !important;
}

.pb-5,
.py-5 {
  padding-bottom: @module * 6 !important;
}

.pl-5,
.px-5 {
  padding-left: @module * 6 !important;
}

.p-6 {
  padding: @module * 8 !important;
}

.pt-6,
.py-6 {
  padding-top: @module * 8 !important;
}

.pr-6,
.px-6 {
  padding-right: @module * 8 !important;
}

.pb-6,
.py-6 {
  padding-bottom: @module * 8 !important;
}

.pl-6,
.px-6 {
  padding-left: @module * 8 !important;
}

.p-7 {
  padding: @module * 10 !important;
}

.pt-7,
.py-7 {
  padding-top: @module * 10 !important;
}

.pr-7,
.px-7 {
  padding-right: @module * 10 !important;
}

.pb-7,
.py-7 {
  padding-bottom: @module * 10 !important;
}

.pl-7,
.px-7 {
  padding-left: @module * 10 !important;
}

.p-8 {
  padding: @module * 12 !important;
}

.pt-8,
.py-8 {
  padding-top: @module * 12 !important;
}

.pr-8,
.px-8 {
  padding-right: @module * 12 !important;
}

.pb-8,
.py-8 {
  padding-bottom: @module * 12 !important;
}

.pl-8,
.px-8 {
  padding-left: @module * 12 !important;
}

.p-9 {
  padding: @module * 16 !important;
}

.pt-9,
.py-9 {
  padding-top: @module * 16 !important;
}

.pr-9,
.px-9 {
  padding-right: @module * 16 !important;
}

.pb-9,
.py-9 {
  padding-bottom: @module * 16 !important;
}

.pl-9,
.px-9 {
  padding-left: @module * 16 !important;
}

.p-10 {
  padding: @module * 24 !important;
}

.pt-10,
.py-10 {
  padding-top: @module * 24 !important;
}

.pr-10,
.px-10 {
  padding-right: @module * 24 !important;
}

.pb-10,
.py-10 {
  padding-bottom: @module * 24 !important;
}

.pl-10,
.px-10 {
  padding-left: @module * 24 !important;
}

@include media-up(xs) {
  .m-xs-0 {
    margin: 0 !important;
  }

  .mt-xs-0,
  .my-xs-0 {
    margin-top: 0 !important;
  }

  .mr-xs-0,
  .mx-xs-0 {
    margin-right: 0 !important;
  }

  .mb-xs-0,
  .my-xs-0 {
    margin-bottom: 0 !important;
  }

  .ml-xs-0,
  .mx-xs-0 {
    margin-left: 0 !important;
  }

  .m-xs-1 {
    margin: @module * 1 !important;
  }

  .mt-xs-1,
  .my-xs-1 {
    margin-top: @module * 1 !important;
  }

  .mr-xs-1,
  .mx-xs-1 {
    margin-right: @module * 1 !important;
  }

  .mb-xs-1,
  .my-xs-1 {
    margin-bottom: @module * 1 !important;
  }

  .ml-xs-1,
  .mx-xs-1 {
    margin-left: @module * 1 !important;
  }

  .m-xs-2 {
    margin: @module * 2 !important;
  }

  .mt-xs-2,
  .my-xs-2 {
    margin-top: @module * 2 !important;
  }

  .mr-xs-2,
  .mx-xs-2 {
    margin-right: @module * 2 !important;
  }

  .mb-xs-2,
  .my-xs-2 {
    margin-bottom: @module * 2 !important;
  }

  .ml-xs-2,
  .mx-xs-2 {
    margin-left: @module * 2 !important;
  }

  .m-xs-3 {
    margin: @module * 3 !important;
  }

  .mt-xs-3,
  .my-xs-3 {
    margin-top: @module * 3 !important;
  }

  .mr-xs-3,
  .mx-xs-3 {
    margin-right: @module * 3 !important;
  }

  .mb-xs-3,
  .my-xs-3 {
    margin-bottom: @module * 3 !important;
  }

  .ml-xs-3,
  .mx-xs-3 {
    margin-left: @module * 3 !important;
  }

  .m-xs-4 {
    margin: @module * 4 !important;
  }

  .mt-xs-4,
  .my-xs-4 {
    margin-top: @module * 4 !important;
  }

  .mr-xs-4,
  .mx-xs-4 {
    margin-right: @module * 4 !important;
  }

  .mb-xs-4,
  .my-xs-4 {
    margin-bottom: @module * 4 !important;
  }

  .ml-xs-4,
  .mx-xs-4 {
    margin-left: @module * 4 !important;
  }

  .m-xs-5 {
    margin: @module * 6 !important;
  }

  .mt-xs-5,
  .my-xs-5 {
    margin-top: @module * 6 !important;
  }

  .mr-xs-5,
  .mx-xs-5 {
    margin-right: @module * 6 !important;
  }

  .mb-xs-5,
  .my-xs-5 {
    margin-bottom: @module * 6 !important;
  }

  .ml-xs-5,
  .mx-xs-5 {
    margin-left: @module * 6 !important;
  }

  .m-xs-6 {
    margin: @module * 8 !important;
  }

  .mt-xs-6,
  .my-xs-6 {
    margin-top: @module * 8 !important;
  }

  .mr-xs-6,
  .mx-xs-6 {
    margin-right: @module * 8 !important;
  }

  .mb-xs-6,
  .my-xs-6 {
    margin-bottom: @module * 8 !important;
  }

  .ml-xs-6,
  .mx-xs-6 {
    margin-left: @module * 8 !important;
  }

  .m-xs-7 {
    margin: @module * 10 !important;
  }

  .mt-xs-7,
  .my-xs-7 {
    margin-top: @module * 10 !important;
  }

  .mr-xs-7,
  .mx-xs-7 {
    margin-right: @module * 10 !important;
  }

  .mb-xs-7,
  .my-xs-7 {
    margin-bottom: @module * 10 !important;
  }

  .ml-xs-7,
  .mx-xs-7 {
    margin-left: @module * 10 !important;
  }

  .m-xs-8 {
    margin: @module * 12 !important;
  }

  .mt-xs-8,
  .my-xs-8 {
    margin-top: @module * 12 !important;
  }

  .mr-xs-8,
  .mx-xs-8 {
    margin-right: @module * 12 !important;
  }

  .mb-xs-8,
  .my-xs-8 {
    margin-bottom: @module * 12 !important;
  }

  .ml-xs-8,
  .mx-xs-8 {
    margin-left: @module * 12 !important;
  }

  .m-xs-9 {
    margin: @module * 16 !important;
  }

  .mt-xs-9,
  .my-xs-9 {
    margin-top: @module * 16 !important;
  }

  .mr-xs-9,
  .mx-xs-9 {
    margin-right: @module * 16 !important;
  }

  .mb-xs-9,
  .my-xs-9 {
    margin-bottom: @module * 16 !important;
  }

  .ml-xs-9,
  .mx-xs-9 {
    margin-left: @module * 16 !important;
  }

  .m-xs-10 {
    margin: @module * 24 !important;
  }

  .mt-xs-10,
  .my-xs-10 {
    margin-top: @module * 24 !important;
  }

  .mr-xs-10,
  .mx-xs-10 {
    margin-right: @module * 24 !important;
  }

  .mb-xs-10,
  .my-xs-10 {
    margin-bottom: @module * 24 !important;
  }

  .ml-xs-10,
  .mx-xs-10 {
    margin-left: @module * 24 !important;
  }

  .m-xs-auto {
    margin: auto !important;
  }

  .mt-xs-auto,
  .my-xs-auto {
    margin-top: auto !important;
  }

  .mr-xs-auto,
  .mx-xs-auto {
    margin-right: auto !important;
  }

  .mb-xs-auto,
  .my-xs-auto {
    margin-bottom: auto !important;
  }

  .ml-xs-auto,
  .mx-xs-auto {
    margin-left: auto !important;
  }

  .p-xs-0 {
    padding: 0 !important;
  }

  .pt-xs-0,
  .py-xs-0 {
    padding-top: 0 !important;
  }

  .pr-xs-0,
  .px-xs-0 {
    padding-right: 0 !important;
  }

  .pb-xs-0,
  .py-xs-0 {
    padding-bottom: 0 !important;
  }

  .pl-xs-0,
  .px-xs-0 {
    padding-left: 0 !important;
  }

  .p-xs-1 {
    padding: @module * 1 !important;
  }

  .pt-xs-1,
  .py-xs-1 {
    padding-top: @module * 1 !important;
  }

  .pr-xs-1,
  .px-xs-1 {
    padding-right: @module * 1 !important;
  }

  .pb-xs-1,
  .py-xs-1 {
    padding-bottom: @module * 1 !important;
  }

  .pl-xs-1,
  .px-xs-1 {
    padding-left: @module * 1 !important;
  }

  .p-xs-2 {
    padding: @module * 2 !important;
  }

  .pt-xs-2,
  .py-xs-2 {
    padding-top: @module * 2 !important;
  }

  .pr-xs-2,
  .px-xs-2 {
    padding-right: @module * 2 !important;
  }

  .pb-xs-2,
  .py-xs-2 {
    padding-bottom: @module * 2 !important;
  }

  .pl-xs-2,
  .px-xs-2 {
    padding-left: @module * 2 !important;
  }

  .p-xs-3 {
    padding: @module * 3 !important;
  }

  .pt-xs-3,
  .py-xs-3 {
    padding-top: @module * 3 !important;
  }

  .pr-xs-3,
  .px-xs-3 {
    padding-right: @module * 3 !important;
  }

  .pb-xs-3,
  .py-xs-3 {
    padding-bottom: @module * 3 !important;
  }

  .pl-xs-3,
  .px-xs-3 {
    padding-left: @module * 3 !important;
  }

  .p-xs-4 {
    padding: @module * 4 !important;
  }

  .pt-xs-4,
  .py-xs-4 {
    padding-top: @module * 4 !important;
  }

  .pr-xs-4,
  .px-xs-4 {
    padding-right: @module * 4 !important;
  }

  .pb-xs-4,
  .py-xs-4 {
    padding-bottom: @module * 4 !important;
  }

  .pl-xs-4,
  .px-xs-4 {
    padding-left: @module * 4 !important;
  }

  .p-xs-5 {
    padding: @module * 6 !important;
  }

  .pt-xs-5,
  .py-xs-5 {
    padding-top: @module * 6 !important;
  }

  .pr-xs-5,
  .px-xs-5 {
    padding-right: @module * 6 !important;
  }

  .pb-xs-5,
  .py-xs-5 {
    padding-bottom: @module * 6 !important;
  }

  .pl-xs-5,
  .px-xs-5 {
    padding-left: @module * 6 !important;
  }

  .p-xs-6 {
    padding: @module * 8 !important;
  }

  .pt-xs-6,
  .py-xs-6 {
    padding-top: @module * 8 !important;
  }

  .pr-xs-6,
  .px-xs-6 {
    padding-right: @module * 8 !important;
  }

  .pb-xs-6,
  .py-xs-6 {
    padding-bottom: @module * 8 !important;
  }

  .pl-xs-6,
  .px-xs-6 {
    padding-left: @module * 8 !important;
  }

  .p-xs-7 {
    padding: @module * 10 !important;
  }

  .pt-xs-7,
  .py-xs-7 {
    padding-top: @module * 10 !important;
  }

  .pr-xs-7,
  .px-xs-7 {
    padding-right: @module * 10 !important;
  }

  .pb-xs-7,
  .py-xs-7 {
    padding-bottom: @module * 10 !important;
  }

  .pl-xs-7,
  .px-xs-7 {
    padding-left: @module * 10 !important;
  }

  .p-xs-8 {
    padding: @module * 12 !important;
  }

  .pt-xs-8,
  .py-xs-8 {
    padding-top: @module * 12 !important;
  }

  .pr-xs-8,
  .px-xs-8 {
    padding-right: @module * 12 !important;
  }

  .pb-xs-8,
  .py-xs-8 {
    padding-bottom: @module * 12 !important;
  }

  .pl-xs-8,
  .px-xs-8 {
    padding-left: @module * 12 !important;
  }

  .p-xs-9 {
    padding: @module * 16 !important;
  }

  .pt-xs-9,
  .py-xs-9 {
    padding-top: @module * 16 !important;
  }

  .pr-xs-9,
  .px-xs-9 {
    padding-right: @module * 16 !important;
  }

  .pb-xs-9,
  .py-xs-9 {
    padding-bottom: @module * 16 !important;
  }

  .pl-xs-9,
  .px-xs-9 {
    padding-left: @module * 16 !important;
  }

  .p-xs-10 {
    padding: @module * 24 !important;
  }

  .pt-xs-10,
  .py-xs-10 {
    padding-top: @module * 24 !important;
  }

  .pr-xs-10,
  .px-xs-10 {
    padding-right: @module * 24 !important;
  }

  .pb-xs-10,
  .py-xs-10 {
    padding-bottom: @module * 24 !important;
  }

  .pl-xs-10,
  .px-xs-10 {
    padding-left: @module * 24 !important;
  }
}

@include media-up(sm) {
  .m-sm-0 {
    margin: 0 !important;
  }

  .mt-sm-0,
  .my-sm-0 {
    margin-top: 0 !important;
  }

  .mr-sm-0,
  .mx-sm-0 {
    margin-right: 0 !important;
  }

  .mb-sm-0,
  .my-sm-0 {
    margin-bottom: 0 !important;
  }

  .ml-sm-0,
  .mx-sm-0 {
    margin-left: 0 !important;
  }

  .m-sm-1 {
    margin: @module * 1 !important;
  }

  .mt-sm-1,
  .my-sm-1 {
    margin-top: @module * 1 !important;
  }

  .mr-sm-1,
  .mx-sm-1 {
    margin-right: @module * 1 !important;
  }

  .mb-sm-1,
  .my-sm-1 {
    margin-bottom: @module * 1 !important;
  }

  .ml-sm-1,
  .mx-sm-1 {
    margin-left: @module * 1 !important;
  }

  .m-sm-2 {
    margin: @module * 2 !important;
  }

  .mt-sm-2,
  .my-sm-2 {
    margin-top: @module * 2 !important;
  }

  .mr-sm-2,
  .mx-sm-2 {
    margin-right: @module * 2 !important;
  }

  .mb-sm-2,
  .my-sm-2 {
    margin-bottom: @module * 2 !important;
  }

  .ml-sm-2,
  .mx-sm-2 {
    margin-left: @module * 2 !important;
  }

  .m-sm-3 {
    margin: @module * 3 !important;
  }

  .mt-sm-3,
  .my-sm-3 {
    margin-top: @module * 3 !important;
  }

  .mr-sm-3,
  .mx-sm-3 {
    margin-right: @module * 3 !important;
  }

  .mb-sm-3,
  .my-sm-3 {
    margin-bottom: @module * 3 !important;
  }

  .ml-sm-3,
  .mx-sm-3 {
    margin-left: @module * 3 !important;
  }

  .m-sm-4 {
    margin: @module * 4 !important;
  }

  .mt-sm-4,
  .my-sm-4 {
    margin-top: @module * 4 !important;
  }

  .mr-sm-4,
  .mx-sm-4 {
    margin-right: @module * 4 !important;
  }

  .mb-sm-4,
  .my-sm-4 {
    margin-bottom: @module * 4 !important;
  }

  .ml-sm-4,
  .mx-sm-4 {
    margin-left: @module * 4 !important;
  }

  .m-sm-5 {
    margin: @module * 6 !important;
  }

  .mt-sm-5,
  .my-sm-5 {
    margin-top: @module * 6 !important;
  }

  .mr-sm-5,
  .mx-sm-5 {
    margin-right: @module * 6 !important;
  }

  .mb-sm-5,
  .my-sm-5 {
    margin-bottom: @module * 6 !important;
  }

  .ml-sm-5,
  .mx-sm-5 {
    margin-left: @module * 6 !important;
  }

  .m-sm-6 {
    margin: @module * 8 !important;
  }

  .mt-sm-6,
  .my-sm-6 {
    margin-top: @module * 8 !important;
  }

  .mr-sm-6,
  .mx-sm-6 {
    margin-right: @module * 8 !important;
  }

  .mb-sm-6,
  .my-sm-6 {
    margin-bottom: @module * 8 !important;
  }

  .ml-sm-6,
  .mx-sm-6 {
    margin-left: @module * 8 !important;
  }

  .m-sm-7 {
    margin: @module * 10 !important;
  }

  .mt-sm-7,
  .my-sm-7 {
    margin-top: @module * 10 !important;
  }

  .mr-sm-7,
  .mx-sm-7 {
    margin-right: @module * 10 !important;
  }

  .mb-sm-7,
  .my-sm-7 {
    margin-bottom: @module * 10 !important;
  }

  .ml-sm-7,
  .mx-sm-7 {
    margin-left: @module * 10 !important;
  }

  .m-sm-8 {
    margin: @module * 12 !important;
  }

  .mt-sm-8,
  .my-sm-8 {
    margin-top: @module * 12 !important;
  }

  .mr-sm-8,
  .mx-sm-8 {
    margin-right: @module * 12 !important;
  }

  .mb-sm-8,
  .my-sm-8 {
    margin-bottom: @module * 12 !important;
  }

  .ml-sm-8,
  .mx-sm-8 {
    margin-left: @module * 12 !important;
  }

  .m-sm-9 {
    margin: @module * 16 !important;
  }

  .mt-sm-9,
  .my-sm-9 {
    margin-top: @module * 16 !important;
  }

  .mr-sm-9,
  .mx-sm-9 {
    margin-right: @module * 16 !important;
  }

  .mb-sm-9,
  .my-sm-9 {
    margin-bottom: @module * 16 !important;
  }

  .ml-sm-9,
  .mx-sm-9 {
    margin-left: @module * 16 !important;
  }

  .m-sm-10 {
    margin: @module * 24 !important;
  }

  .mt-sm-10,
  .my-sm-10 {
    margin-top: @module * 24 !important;
  }

  .mr-sm-10,
  .mx-sm-10 {
    margin-right: @module * 24 !important;
  }

  .mb-sm-10,
  .my-sm-10 {
    margin-bottom: @module * 24 !important;
  }

  .ml-sm-10,
  .mx-sm-10 {
    margin-left: @module * 24 !important;
  }

  .m-sm-auto {
    margin: auto !important;
  }

  .mt-sm-auto,
  .my-sm-auto {
    margin-top: auto !important;
  }

  .mr-sm-auto,
  .mx-sm-auto {
    margin-right: auto !important;
  }

  .mb-sm-auto,
  .my-sm-auto {
    margin-bottom: auto !important;
  }

  .ml-sm-auto,
  .mx-sm-auto {
    margin-left: auto !important;
  }

  .p-sm-0 {
    padding: 0 !important;
  }

  .pt-sm-0,
  .py-sm-0 {
    padding-top: 0 !important;
  }

  .pr-sm-0,
  .px-sm-0 {
    padding-right: 0 !important;
  }

  .pb-sm-0,
  .py-sm-0 {
    padding-bottom: 0 !important;
  }

  .pl-sm-0,
  .px-sm-0 {
    padding-left: 0 !important;
  }

  .p-sm-1 {
    padding: @module * 1 !important;
  }

  .pt-sm-1,
  .py-sm-1 {
    padding-top: @module * 1 !important;
  }

  .pr-sm-1,
  .px-sm-1 {
    padding-right: @module * 1 !important;
  }

  .pb-sm-1,
  .py-sm-1 {
    padding-bottom: @module * 1 !important;
  }

  .pl-sm-1,
  .px-sm-1 {
    padding-left: @module * 1 !important;
  }

  .p-sm-2 {
    padding: @module * 2 !important;
  }

  .pt-sm-2,
  .py-sm-2 {
    padding-top: @module * 2 !important;
  }

  .pr-sm-2,
  .px-sm-2 {
    padding-right: @module * 2 !important;
  }

  .pb-sm-2,
  .py-sm-2 {
    padding-bottom: @module * 2 !important;
  }

  .pl-sm-2,
  .px-sm-2 {
    padding-left: @module * 2 !important;
  }

  .p-sm-3 {
    padding: @module * 3 !important;
  }

  .pt-sm-3,
  .py-sm-3 {
    padding-top: @module * 3 !important;
  }

  .pr-sm-3,
  .px-sm-3 {
    padding-right: @module * 3 !important;
  }

  .pb-sm-3,
  .py-sm-3 {
    padding-bottom: @module * 3 !important;
  }

  .pl-sm-3,
  .px-sm-3 {
    padding-left: @module * 3 !important;
  }

  .p-sm-4 {
    padding: @module * 4 !important;
  }

  .pt-sm-4,
  .py-sm-4 {
    padding-top: @module * 4 !important;
  }

  .pr-sm-4,
  .px-sm-4 {
    padding-right: @module * 4 !important;
  }

  .pb-sm-4,
  .py-sm-4 {
    padding-bottom: @module * 4 !important;
  }

  .pl-sm-4,
  .px-sm-4 {
    padding-left: @module * 4 !important;
  }

  .p-sm-5 {
    padding: @module * 6 !important;
  }

  .pt-sm-5,
  .py-sm-5 {
    padding-top: @module * 6 !important;
  }

  .pr-sm-5,
  .px-sm-5 {
    padding-right: @module * 6 !important;
  }

  .pb-sm-5,
  .py-sm-5 {
    padding-bottom: @module * 6 !important;
  }

  .pl-sm-5,
  .px-sm-5 {
    padding-left: @module * 6 !important;
  }

  .p-sm-6 {
    padding: @module * 8 !important;
  }

  .pt-sm-6,
  .py-sm-6 {
    padding-top: @module * 8 !important;
  }

  .pr-sm-6,
  .px-sm-6 {
    padding-right: @module * 8 !important;
  }

  .pb-sm-6,
  .py-sm-6 {
    padding-bottom: @module * 8 !important;
  }

  .pl-sm-6,
  .px-sm-6 {
    padding-left: @module * 8 !important;
  }

  .p-sm-7 {
    padding: @module * 10 !important;
  }

  .pt-sm-7,
  .py-sm-7 {
    padding-top: @module * 10 !important;
  }

  .pr-sm-7,
  .px-sm-7 {
    padding-right: @module * 10 !important;
  }

  .pb-sm-7,
  .py-sm-7 {
    padding-bottom: @module * 10 !important;
  }

  .pl-sm-7,
  .px-sm-7 {
    padding-left: @module * 10 !important;
  }

  .p-sm-8 {
    padding: @module * 12 !important;
  }

  .pt-sm-8,
  .py-sm-8 {
    padding-top: @module * 12 !important;
  }

  .pr-sm-8,
  .px-sm-8 {
    padding-right: @module * 12 !important;
  }

  .pb-sm-8,
  .py-sm-8 {
    padding-bottom: @module * 12 !important;
  }

  .pl-sm-8,
  .px-sm-8 {
    padding-left: @module * 12 !important;
  }

  .p-sm-9 {
    padding: @module * 16 !important;
  }

  .pt-sm-9,
  .py-sm-9 {
    padding-top: @module * 16 !important;
  }

  .pr-sm-9,
  .px-sm-9 {
    padding-right: @module * 16 !important;
  }

  .pb-sm-9,
  .py-sm-9 {
    padding-bottom: @module * 16 !important;
  }

  .pl-sm-9,
  .px-sm-9 {
    padding-left: @module * 16 !important;
  }

  .p-sm-10 {
    padding: @module * 24 !important;
  }

  .pt-sm-10,
  .py-sm-10 {
    padding-top: @module * 24 !important;
  }

  .pr-sm-10,
  .px-sm-10 {
    padding-right: @module * 24 !important;
  }

  .pb-sm-10,
  .py-sm-10 {
    padding-bottom: @module * 24 !important;
  }

  .pl-sm-10,
  .px-sm-10 {
    padding-left: @module * 24 !important;
  }
}

@include media-up(md) {
  .m-md-0 {
    margin: 0 !important;
  }

  .mt-md-0,
  .my-md-0 {
    margin-top: 0 !important;
  }

  .mr-md-0,
  .mx-md-0 {
    margin-right: 0 !important;
  }

  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important;
  }

  .ml-md-0,
  .mx-md-0 {
    margin-left: 0 !important;
  }

  .m-md-1 {
    margin: @module * 1 !important;
  }

  .mt-md-1,
  .my-md-1 {
    margin-top: @module * 1 !important;
  }

  .mr-md-1,
  .mx-md-1 {
    margin-right: @module * 1 !important;
  }

  .mb-md-1,
  .my-md-1 {
    margin-bottom: @module * 1 !important;
  }

  .ml-md-1,
  .mx-md-1 {
    margin-left: @module * 1 !important;
  }

  .m-md-2 {
    margin: @module * 2 !important;
  }

  .mt-md-2,
  .my-md-2 {
    margin-top: @module * 2 !important;
  }

  .mr-md-2,
  .mx-md-2 {
    margin-right: @module * 2 !important;
  }

  .mb-md-2,
  .my-md-2 {
    margin-bottom: @module * 2 !important;
  }

  .ml-md-2,
  .mx-md-2 {
    margin-left: @module * 2 !important;
  }

  .m-md-3 {
    margin: @module * 3 !important;
  }

  .mt-md-3,
  .my-md-3 {
    margin-top: @module * 3 !important;
  }

  .mr-md-3,
  .mx-md-3 {
    margin-right: @module * 3 !important;
  }

  .mb-md-3,
  .my-md-3 {
    margin-bottom: @module * 3 !important;
  }

  .ml-md-3,
  .mx-md-3 {
    margin-left: @module * 3 !important;
  }

  .m-md-4 {
    margin: @module * 4 !important;
  }

  .mt-md-4,
  .my-md-4 {
    margin-top: @module * 4 !important;
  }

  .mr-md-4,
  .mx-md-4 {
    margin-right: @module * 4 !important;
  }

  .mb-md-4,
  .my-md-4 {
    margin-bottom: @module * 4 !important;
  }

  .ml-md-4,
  .mx-md-4 {
    margin-left: @module * 4 !important;
  }

  .m-md-5 {
    margin: @module * 6 !important;
  }

  .mt-md-5,
  .my-md-5 {
    margin-top: @module * 6 !important;
  }

  .mr-md-5,
  .mx-md-5 {
    margin-right: @module * 6 !important;
  }

  .mb-md-5,
  .my-md-5 {
    margin-bottom: @module * 6 !important;
  }

  .ml-md-5,
  .mx-md-5 {
    margin-left: @module * 6 !important;
  }

  .m-md-6 {
    margin: @module * 8 !important;
  }

  .mt-md-6,
  .my-md-6 {
    margin-top: @module * 8 !important;
  }

  .mr-md-6,
  .mx-md-6 {
    margin-right: @module * 8 !important;
  }

  .mb-md-6,
  .my-md-6 {
    margin-bottom: @module * 8 !important;
  }

  .ml-md-6,
  .mx-md-6 {
    margin-left: @module * 8 !important;
  }

  .m-md-7 {
    margin: @module * 10 !important;
  }

  .mt-md-7,
  .my-md-7 {
    margin-top: @module * 10 !important;
  }

  .mr-md-7,
  .mx-md-7 {
    margin-right: @module * 10 !important;
  }

  .mb-md-7,
  .my-md-7 {
    margin-bottom: @module * 10 !important;
  }

  .ml-md-7,
  .mx-md-7 {
    margin-left: @module * 10 !important;
  }

  .m-md-8 {
    margin: @module * 12 !important;
  }

  .mt-md-8,
  .my-md-8 {
    margin-top: @module * 12 !important;
  }

  .mr-md-8,
  .mx-md-8 {
    margin-right: @module * 12 !important;
  }

  .mb-md-8,
  .my-md-8 {
    margin-bottom: @module * 12 !important;
  }

  .ml-md-8,
  .mx-md-8 {
    margin-left: @module * 12 !important;
  }

  .m-md-9 {
    margin: @module * 16 !important;
  }

  .mt-md-9,
  .my-md-9 {
    margin-top: @module * 16 !important;
  }

  .mr-md-9,
  .mx-md-9 {
    margin-right: @module * 16 !important;
  }

  .mb-md-9,
  .my-md-9 {
    margin-bottom: @module * 16 !important;
  }

  .ml-md-9,
  .mx-md-9 {
    margin-left: @module * 16 !important;
  }

  .m-md-10 {
    margin: @module * 24 !important;
  }

  .mt-md-10,
  .my-md-10 {
    margin-top: @module * 24 !important;
  }

  .mr-md-10,
  .mx-md-10 {
    margin-right: @module * 24 !important;
  }

  .mb-md-10,
  .my-md-10 {
    margin-bottom: @module * 24 !important;
  }

  .ml-md-10,
  .mx-md-10 {
    margin-left: @module * 24 !important;
  }

  .m-md-auto {
    margin: auto !important;
  }

  .mt-md-auto,
  .my-md-auto {
    margin-top: auto !important;
  }

  .mr-md-auto,
  .mx-md-auto {
    margin-right: auto !important;
  }

  .mb-md-auto,
  .my-md-auto {
    margin-bottom: auto !important;
  }

  .ml-md-auto,
  .mx-md-auto {
    margin-left: auto !important;
  }

  .p-md-0 {
    padding: 0 !important;
  }

  .pt-md-0,
  .py-md-0 {
    padding-top: 0 !important;
  }

  .pr-md-0,
  .px-md-0 {
    padding-right: 0 !important;
  }

  .pb-md-0,
  .py-md-0 {
    padding-bottom: 0 !important;
  }

  .pl-md-0,
  .px-md-0 {
    padding-left: 0 !important;
  }

  .p-md-1 {
    padding: @module * 1 !important;
  }

  .pt-md-1,
  .py-md-1 {
    padding-top: @module * 1 !important;
  }

  .pr-md-1,
  .px-md-1 {
    padding-right: @module * 1 !important;
  }

  .pb-md-1,
  .py-md-1 {
    padding-bottom: @module * 1 !important;
  }

  .pl-md-1,
  .px-md-1 {
    padding-left: @module * 1 !important;
  }

  .p-md-2 {
    padding: @module * 2 !important;
  }

  .pt-md-2,
  .py-md-2 {
    padding-top: @module * 2 !important;
  }

  .pr-md-2,
  .px-md-2 {
    padding-right: @module * 2 !important;
  }

  .pb-md-2,
  .py-md-2 {
    padding-bottom: @module * 2 !important;
  }

  .pl-md-2,
  .px-md-2 {
    padding-left: @module * 2 !important;
  }

  .p-md-3 {
    padding: @module * 3 !important;
  }

  .pt-md-3,
  .py-md-3 {
    padding-top: @module * 3 !important;
  }

  .pr-md-3,
  .px-md-3 {
    padding-right: @module * 3 !important;
  }

  .pb-md-3,
  .py-md-3 {
    padding-bottom: @module * 3 !important;
  }

  .pl-md-3,
  .px-md-3 {
    padding-left: @module * 3 !important;
  }

  .p-md-4 {
    padding: @module * 4 !important;
  }

  .pt-md-4,
  .py-md-4 {
    padding-top: @module * 4 !important;
  }

  .pr-md-4,
  .px-md-4 {
    padding-right: @module * 4 !important;
  }

  .pb-md-4,
  .py-md-4 {
    padding-bottom: @module * 4 !important;
  }

  .pl-md-4,
  .px-md-4 {
    padding-left: @module * 4 !important;
  }

  .p-md-5 {
    padding: @module * 6 !important;
  }

  .pt-md-5,
  .py-md-5 {
    padding-top: @module * 6 !important;
  }

  .pr-md-5,
  .px-md-5 {
    padding-right: @module * 6 !important;
  }

  .pb-md-5,
  .py-md-5 {
    padding-bottom: @module * 6 !important;
  }

  .pl-md-5,
  .px-md-5 {
    padding-left: @module * 6 !important;
  }

  .p-md-6 {
    padding: @module * 8 !important;
  }

  .pt-md-6,
  .py-md-6 {
    padding-top: @module * 8 !important;
  }

  .pr-md-6,
  .px-md-6 {
    padding-right: @module * 8 !important;
  }

  .pb-md-6,
  .py-md-6 {
    padding-bottom: @module * 8 !important;
  }

  .pl-md-6,
  .px-md-6 {
    padding-left: @module * 8 !important;
  }

  .p-md-7 {
    padding: @module * 10 !important;
  }

  .pt-md-7,
  .py-md-7 {
    padding-top: @module * 10 !important;
  }

  .pr-md-7,
  .px-md-7 {
    padding-right: @module * 10 !important;
  }

  .pb-md-7,
  .py-md-7 {
    padding-bottom: @module * 10 !important;
  }

  .pl-md-7,
  .px-md-7 {
    padding-left: @module * 10 !important;
  }

  .p-md-8 {
    padding: @module * 12 !important;
  }

  .pt-md-8,
  .py-md-8 {
    padding-top: @module * 12 !important;
  }

  .pr-md-8,
  .px-md-8 {
    padding-right: @module * 12 !important;
  }

  .pb-md-8,
  .py-md-8 {
    padding-bottom: @module * 12 !important;
  }

  .pl-md-8,
  .px-md-8 {
    padding-left: @module * 12 !important;
  }

  .p-md-9 {
    padding: @module * 16 !important;
  }

  .pt-md-9,
  .py-md-9 {
    padding-top: @module * 16 !important;
  }

  .pr-md-9,
  .px-md-9 {
    padding-right: @module * 16 !important;
  }

  .pb-md-9,
  .py-md-9 {
    padding-bottom: @module * 16 !important;
  }

  .pl-md-9,
  .px-md-9 {
    padding-left: @module * 16 !important;
  }

  .p-md-10 {
    padding: @module * 24 !important;
  }

  .pt-md-10,
  .py-md-10 {
    padding-top: @module * 24 !important;
  }

  .pr-md-10,
  .px-md-10 {
    padding-right: @module * 24 !important;
  }

  .pb-md-10,
  .py-md-10 {
    padding-bottom: @module * 24 !important;
  }

  .pl-md-10,
  .px-md-10 {
    padding-left: @module * 24 !important;
  }
}

@include media-up(lg) {
  .m-lg-0 {
    margin: 0 !important;
  }

  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important;
  }

  .mr-lg-0,
  .mx-lg-0 {
    margin-right: 0 !important;
  }

  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0 !important;
  }

  .ml-lg-0,
  .mx-lg-0 {
    margin-left: 0 !important;
  }

  .m-lg-1 {
    margin: @module * 1 !important;
  }

  .mt-lg-1,
  .my-lg-1 {
    margin-top: @module * 1 !important;
  }

  .mr-lg-1,
  .mx-lg-1 {
    margin-right: @module * 1 !important;
  }

  .mb-lg-1,
  .my-lg-1 {
    margin-bottom: @module * 1 !important;
  }

  .ml-lg-1,
  .mx-lg-1 {
    margin-left: @module * 1 !important;
  }

  .m-lg-2 {
    margin: @module * 2 !important;
  }

  .mt-lg-2,
  .my-lg-2 {
    margin-top: @module * 2 !important;
  }

  .mr-lg-2,
  .mx-lg-2 {
    margin-right: @module * 2 !important;
  }

  .mb-lg-2,
  .my-lg-2 {
    margin-bottom: @module * 2 !important;
  }

  .ml-lg-2,
  .mx-lg-2 {
    margin-left: @module * 2 !important;
  }

  .m-lg-3 {
    margin: @module * 3 !important;
  }

  .mt-lg-3,
  .my-lg-3 {
    margin-top: @module * 3 !important;
  }

  .mr-lg-3,
  .mx-lg-3 {
    margin-right: @module * 3 !important;
  }

  .mb-lg-3,
  .my-lg-3 {
    margin-bottom: @module * 3 !important;
  }

  .ml-lg-3,
  .mx-lg-3 {
    margin-left: @module * 3 !important;
  }

  .m-lg-4 {
    margin: @module * 4 !important;
  }

  .mt-lg-4,
  .my-lg-4 {
    margin-top: @module * 4 !important;
  }

  .mr-lg-4,
  .mx-lg-4 {
    margin-right: @module * 4 !important;
  }

  .mb-lg-4,
  .my-lg-4 {
    margin-bottom: @module * 4 !important;
  }

  .ml-lg-4,
  .mx-lg-4 {
    margin-left: @module * 4 !important;
  }

  .m-lg-5 {
    margin: @module * 6 !important;
  }

  .mt-lg-5,
  .my-lg-5 {
    margin-top: @module * 6 !important;
  }

  .mr-lg-5,
  .mx-lg-5 {
    margin-right: @module * 6 !important;
  }

  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: @module * 6 !important;
  }

  .ml-lg-5,
  .mx-lg-5 {
    margin-left: @module * 6 !important;
  }

  .m-lg-6 {
    margin: @module * 8 !important;
  }

  .mt-lg-6,
  .my-lg-6 {
    margin-top: @module * 8 !important;
  }

  .mr-lg-6,
  .mx-lg-6 {
    margin-right: @module * 8 !important;
  }

  .mb-lg-6,
  .my-lg-6 {
    margin-bottom: @module * 8 !important;
  }

  .ml-lg-6,
  .mx-lg-6 {
    margin-left: @module * 8 !important;
  }

  .m-lg-7 {
    margin: @module * 10 !important;
  }

  .mt-lg-7,
  .my-lg-7 {
    margin-top: @module * 10 !important;
  }

  .mr-lg-7,
  .mx-lg-7 {
    margin-right: @module * 10 !important;
  }

  .mb-lg-7,
  .my-lg-7 {
    margin-bottom: @module * 10 !important;
  }

  .ml-lg-7,
  .mx-lg-7 {
    margin-left: @module * 10 !important;
  }

  .m-lg-8 {
    margin: @module * 12 !important;
  }

  .mt-lg-8,
  .my-lg-8 {
    margin-top: @module * 12 !important;
  }

  .mr-lg-8,
  .mx-lg-8 {
    margin-right: @module * 12 !important;
  }

  .mb-lg-8,
  .my-lg-8 {
    margin-bottom: @module * 12 !important;
  }

  .ml-lg-8,
  .mx-lg-8 {
    margin-left: @module * 12 !important;
  }

  .m-lg-9 {
    margin: @module * 16 !important;
  }

  .mt-lg-9,
  .my-lg-9 {
    margin-top: @module * 16 !important;
  }

  .mr-lg-9,
  .mx-lg-9 {
    margin-right: @module * 16 !important;
  }

  .mb-lg-9,
  .my-lg-9 {
    margin-bottom: @module * 16 !important;
  }

  .ml-lg-9,
  .mx-lg-9 {
    margin-left: @module * 16 !important;
  }

  .m-lg-10 {
    margin: @module * 24 !important;
  }

  .mt-lg-10,
  .my-lg-10 {
    margin-top: @module * 24 !important;
  }

  .mr-lg-10,
  .mx-lg-10 {
    margin-right: @module * 24 !important;
  }

  .mb-lg-10,
  .my-lg-10 {
    margin-bottom: @module * 24 !important;
  }

  .ml-lg-10,
  .mx-lg-10 {
    margin-left: @module * 24 !important;
  }

  .m-lg-auto {
    margin: auto !important;
  }

  .mt-lg-auto,
  .my-lg-auto {
    margin-top: auto !important;
  }

  .mr-lg-auto,
  .mx-lg-auto {
    margin-right: auto !important;
  }

  .mb-lg-auto,
  .my-lg-auto {
    margin-bottom: auto !important;
  }

  .ml-lg-auto,
  .mx-lg-auto {
    margin-left: auto !important;
  }

  .p-lg-0 {
    padding: 0 !important;
  }

  .pt-lg-0,
  .py-lg-0 {
    padding-top: 0 !important;
  }

  .pr-lg-0,
  .px-lg-0 {
    padding-right: 0 !important;
  }

  .pb-lg-0,
  .py-lg-0 {
    padding-bottom: 0 !important;
  }

  .pl-lg-0,
  .px-lg-0 {
    padding-left: 0 !important;
  }

  .p-lg-1 {
    padding: @module * 1 !important;
  }

  .pt-lg-1,
  .py-lg-1 {
    padding-top: @module * 1 !important;
  }

  .pr-lg-1,
  .px-lg-1 {
    padding-right: @module * 1 !important;
  }

  .pb-lg-1,
  .py-lg-1 {
    padding-bottom: @module * 1 !important;
  }

  .pl-lg-1,
  .px-lg-1 {
    padding-left: @module * 1 !important;
  }

  .p-lg-2 {
    padding: @module * 2 !important;
  }

  .pt-lg-2,
  .py-lg-2 {
    padding-top: @module * 2 !important;
  }

  .pr-lg-2,
  .px-lg-2 {
    padding-right: @module * 2 !important;
  }

  .pb-lg-2,
  .py-lg-2 {
    padding-bottom: @module * 2 !important;
  }

  .pl-lg-2,
  .px-lg-2 {
    padding-left: @module * 2 !important;
  }

  .p-lg-3 {
    padding: @module * 3 !important;
  }

  .pt-lg-3,
  .py-lg-3 {
    padding-top: @module * 3 !important;
  }

  .pr-lg-3,
  .px-lg-3 {
    padding-right: @module * 3 !important;
  }

  .pb-lg-3,
  .py-lg-3 {
    padding-bottom: @module * 3 !important;
  }

  .pl-lg-3,
  .px-lg-3 {
    padding-left: @module * 3 !important;
  }

  .p-lg-4 {
    padding: @module * 4 !important;
  }

  .pt-lg-4,
  .py-lg-4 {
    padding-top: @module * 4 !important;
  }

  .pr-lg-4,
  .px-lg-4 {
    padding-right: @module * 4 !important;
  }

  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: @module * 4 !important;
  }

  .pl-lg-4,
  .px-lg-4 {
    padding-left: @module * 4 !important;
  }

  .p-lg-5 {
    padding: @module * 6 !important;
  }

  .pt-lg-5,
  .py-lg-5 {
    padding-top: @module * 6 !important;
  }

  .pr-lg-5,
  .px-lg-5 {
    padding-right: @module * 6 !important;
  }

  .pb-lg-5,
  .py-lg-5 {
    padding-bottom: @module * 6 !important;
  }

  .pl-lg-5,
  .px-lg-5 {
    padding-left: @module * 6 !important;
  }

  .p-lg-6 {
    padding: @module * 8 !important;
  }

  .pt-lg-6,
  .py-lg-6 {
    padding-top: @module * 8 !important;
  }

  .pr-lg-6,
  .px-lg-6 {
    padding-right: @module * 8 !important;
  }

  .pb-lg-6,
  .py-lg-6 {
    padding-bottom: @module * 8 !important;
  }

  .pl-lg-6,
  .px-lg-6 {
    padding-left: @module * 8 !important;
  }

  .p-lg-7 {
    padding: @module * 10 !important;
  }

  .pt-lg-7,
  .py-lg-7 {
    padding-top: @module * 10 !important;
  }

  .pr-lg-7,
  .px-lg-7 {
    padding-right: @module * 10 !important;
  }

  .pb-lg-7,
  .py-lg-7 {
    padding-bottom: @module * 10 !important;
  }

  .pl-lg-7,
  .px-lg-7 {
    padding-left: @module * 10 !important;
  }

  .p-lg-8 {
    padding: @module * 12 !important;
  }

  .pt-lg-8,
  .py-lg-8 {
    padding-top: @module * 12 !important;
  }

  .pr-lg-8,
  .px-lg-8 {
    padding-right: @module * 12 !important;
  }

  .pb-lg-8,
  .py-lg-8 {
    padding-bottom: @module * 12 !important;
  }

  .pl-lg-8,
  .px-lg-8 {
    padding-left: @module * 12 !important;
  }

  .p-lg-9 {
    padding: @module * 16 !important;
  }

  .pt-lg-9,
  .py-lg-9 {
    padding-top: @module * 16 !important;
  }

  .pr-lg-9,
  .px-lg-9 {
    padding-right: @module * 16 !important;
  }

  .pb-lg-9,
  .py-lg-9 {
    padding-bottom: @module * 16 !important;
  }

  .pl-lg-9,
  .px-lg-9 {
    padding-left: @module * 16 !important;
  }

  .p-lg-10 {
    padding: @module * 24 !important;
  }

  .pt-lg-10,
  .py-lg-10 {
    padding-top: @module * 24 !important;
  }

  .pr-lg-10,
  .px-lg-10 {
    padding-right: @module * 24 !important;
  }

  .pb-lg-10,
  .py-lg-10 {
    padding-bottom: @module * 24 !important;
  }

  .pl-lg-10,
  .px-lg-10 {
    padding-left: @module * 24 !important;
  }
}

@include media-up(xl) {
  .m-xl-0 {
    margin: 0 !important;
  }

  .mt-xl-0,
  .my-xl-0 {
    margin-top: 0 !important;
  }

  .mr-xl-0,
  .mx-xl-0 {
    margin-right: 0 !important;
  }

  .mb-xl-0,
  .my-xl-0 {
    margin-bottom: 0 !important;
  }

  .ml-xl-0,
  .mx-xl-0 {
    margin-left: 0 !important;
  }

  .m-xl-1 {
    margin: @module * 1 !important;
  }

  .mt-xl-1,
  .my-xl-1 {
    margin-top: @module * 1 !important;
  }

  .mr-xl-1,
  .mx-xl-1 {
    margin-right: @module * 1 !important;
  }

  .mb-xl-1,
  .my-xl-1 {
    margin-bottom: @module * 1 !important;
  }

  .ml-xl-1,
  .mx-xl-1 {
    margin-left: @module * 1 !important;
  }

  .m-xl-2 {
    margin: @module * 2 !important;
  }

  .mt-xl-2,
  .my-xl-2 {
    margin-top: @module * 2 !important;
  }

  .mr-xl-2,
  .mx-xl-2 {
    margin-right: @module * 2 !important;
  }

  .mb-xl-2,
  .my-xl-2 {
    margin-bottom: @module * 2 !important;
  }

  .ml-xl-2,
  .mx-xl-2 {
    margin-left: @module * 2 !important;
  }

  .m-xl-3 {
    margin: @module * 3 !important;
  }

  .mt-xl-3,
  .my-xl-3 {
    margin-top: @module * 3 !important;
  }

  .mr-xl-3,
  .mx-xl-3 {
    margin-right: @module * 3 !important;
  }

  .mb-xl-3,
  .my-xl-3 {
    margin-bottom: @module * 3 !important;
  }

  .ml-xl-3,
  .mx-xl-3 {
    margin-left: @module * 3 !important;
  }

  .m-xl-4 {
    margin: @module * 4 !important;
  }

  .mt-xl-4,
  .my-xl-4 {
    margin-top: @module * 4 !important;
  }

  .mr-xl-4,
  .mx-xl-4 {
    margin-right: @module * 4 !important;
  }

  .mb-xl-4,
  .my-xl-4 {
    margin-bottom: @module * 4 !important;
  }

  .ml-xl-4,
  .mx-xl-4 {
    margin-left: @module * 4 !important;
  }

  .m-xl-5 {
    margin: @module * 6 !important;
  }

  .mt-xl-5,
  .my-xl-5 {
    margin-top: @module * 6 !important;
  }

  .mr-xl-5,
  .mx-xl-5 {
    margin-right: @module * 6 !important;
  }

  .mb-xl-5,
  .my-xl-5 {
    margin-bottom: @module * 6 !important;
  }

  .ml-xl-5,
  .mx-xl-5 {
    margin-left: @module * 6 !important;
  }

  .m-xl-6 {
    margin: @module * 8 !important;
  }

  .mt-xl-6,
  .my-xl-6 {
    margin-top: @module * 8 !important;
  }

  .mr-xl-6,
  .mx-xl-6 {
    margin-right: @module * 8 !important;
  }

  .mb-xl-6,
  .my-xl-6 {
    margin-bottom: @module * 8 !important;
  }

  .ml-xl-6,
  .mx-xl-6 {
    margin-left: @module * 8 !important;
  }

  .m-xl-7 {
    margin: @module * 10 !important;
  }

  .mt-xl-7,
  .my-xl-7 {
    margin-top: @module * 10 !important;
  }

  .mr-xl-7,
  .mx-xl-7 {
    margin-right: @module * 10 !important;
  }

  .mb-xl-7,
  .my-xl-7 {
    margin-bottom: @module * 10 !important;
  }

  .ml-xl-7,
  .mx-xl-7 {
    margin-left: @module * 10 !important;
  }

  .m-xl-8 {
    margin: @module * 12 !important;
  }

  .mt-xl-8,
  .my-xl-8 {
    margin-top: @module * 12 !important;
  }

  .mr-xl-8,
  .mx-xl-8 {
    margin-right: @module * 12 !important;
  }

  .mb-xl-8,
  .my-xl-8 {
    margin-bottom: @module * 12 !important;
  }

  .ml-xl-8,
  .mx-xl-8 {
    margin-left: @module * 12 !important;
  }

  .m-xl-9 {
    margin: @module * 16 !important;
  }

  .mt-xl-9,
  .my-xl-9 {
    margin-top: @module * 16 !important;
  }

  .mr-xl-9,
  .mx-xl-9 {
    margin-right: @module * 16 !important;
  }

  .mb-xl-9,
  .my-xl-9 {
    margin-bottom: @module * 16 !important;
  }

  .ml-xl-9,
  .mx-xl-9 {
    margin-left: @module * 16 !important;
  }

  .m-xl-10 {
    margin: @module * 24 !important;
  }

  .mt-xl-10,
  .my-xl-10 {
    margin-top: @module * 24 !important;
  }

  .mr-xl-10,
  .mx-xl-10 {
    margin-right: @module * 24 !important;
  }

  .mb-xl-10,
  .my-xl-10 {
    margin-bottom: @module * 24 !important;
  }

  .ml-xl-10,
  .mx-xl-10 {
    margin-left: @module * 24 !important;
  }

  .m-xl-auto {
    margin: auto !important;
  }

  .mt-xl-auto,
  .my-xl-auto {
    margin-top: auto !important;
  }

  .mr-xl-auto,
  .mx-xl-auto {
    margin-right: auto !important;
  }

  .mb-xl-auto,
  .my-xl-auto {
    margin-bottom: auto !important;
  }

  .ml-xl-auto,
  .mx-xl-auto {
    margin-left: auto !important;
  }

  .p-xl-0 {
    padding: 0 !important;
  }

  .pt-xl-0,
  .py-xl-0 {
    padding-top: 0 !important;
  }

  .pr-xl-0,
  .px-xl-0 {
    padding-right: 0 !important;
  }

  .pb-xl-0,
  .py-xl-0 {
    padding-bottom: 0 !important;
  }

  .pl-xl-0,
  .px-xl-0 {
    padding-left: 0 !important;
  }

  .p-xl-1 {
    padding: @module * 1 !important;
  }

  .pt-xl-1,
  .py-xl-1 {
    padding-top: @module * 1 !important;
  }

  .pr-xl-1,
  .px-xl-1 {
    padding-right: @module * 1 !important;
  }

  .pb-xl-1,
  .py-xl-1 {
    padding-bottom: @module * 1 !important;
  }

  .pl-xl-1,
  .px-xl-1 {
    padding-left: @module * 1 !important;
  }

  .p-xl-2 {
    padding: @module * 2 !important;
  }

  .pt-xl-2,
  .py-xl-2 {
    padding-top: @module * 2 !important;
  }

  .pr-xl-2,
  .px-xl-2 {
    padding-right: @module * 2 !important;
  }

  .pb-xl-2,
  .py-xl-2 {
    padding-bottom: @module * 2 !important;
  }

  .pl-xl-2,
  .px-xl-2 {
    padding-left: @module * 2 !important;
  }

  .p-xl-3 {
    padding: @module * 3 !important;
  }

  .pt-xl-3,
  .py-xl-3 {
    padding-top: @module * 3 !important;
  }

  .pr-xl-3,
  .px-xl-3 {
    padding-right: @module * 3 !important;
  }

  .pb-xl-3,
  .py-xl-3 {
    padding-bottom: @module * 3 !important;
  }

  .pl-xl-3,
  .px-xl-3 {
    padding-left: @module * 3 !important;
  }

  .p-xl-4 {
    padding: @module * 4 !important;
  }

  .pt-xl-4,
  .py-xl-4 {
    padding-top: @module * 4 !important;
  }

  .pr-xl-4,
  .px-xl-4 {
    padding-right: @module * 4 !important;
  }

  .pb-xl-4,
  .py-xl-4 {
    padding-bottom: @module * 4 !important;
  }

  .pl-xl-4,
  .px-xl-4 {
    padding-left: @module * 4 !important;
  }

  .p-xl-5 {
    padding: @module * 6 !important;
  }

  .pt-xl-5,
  .py-xl-5 {
    padding-top: @module * 6 !important;
  }

  .pr-xl-5,
  .px-xl-5 {
    padding-right: @module * 6 !important;
  }

  .pb-xl-5,
  .py-xl-5 {
    padding-bottom: @module * 6 !important;
  }

  .pl-xl-5,
  .px-xl-5 {
    padding-left: @module * 6 !important;
  }

  .p-xl-6 {
    padding: @module * 8 !important;
  }

  .pt-xl-6,
  .py-xl-6 {
    padding-top: @module * 8 !important;
  }

  .pr-xl-6,
  .px-xl-6 {
    padding-right: @module * 8 !important;
  }

  .pb-xl-6,
  .py-xl-6 {
    padding-bottom: @module * 8 !important;
  }

  .pl-xl-6,
  .px-xl-6 {
    padding-left: @module * 8 !important;
  }

  .p-xl-7 {
    padding: @module * 10 !important;
  }

  .pt-xl-7,
  .py-xl-7 {
    padding-top: @module * 10 !important;
  }

  .pr-xl-7,
  .px-xl-7 {
    padding-right: @module * 10 !important;
  }

  .pb-xl-7,
  .py-xl-7 {
    padding-bottom: @module * 10 !important;
  }

  .pl-xl-7,
  .px-xl-7 {
    padding-left: @module * 10 !important;
  }

  .p-xl-8 {
    padding: @module * 12 !important;
  }

  .pt-xl-8,
  .py-xl-8 {
    padding-top: @module * 12 !important;
  }

  .pr-xl-8,
  .px-xl-8 {
    padding-right: @module * 12 !important;
  }

  .pb-xl-8,
  .py-xl-8 {
    padding-bottom: @module * 12 !important;
  }

  .pl-xl-8,
  .px-xl-8 {
    padding-left: @module * 12 !important;
  }

  .p-xl-9 {
    padding: @module * 16 !important;
  }

  .pt-xl-9,
  .py-xl-9 {
    padding-top: @module * 16 !important;
  }

  .pr-xl-9,
  .px-xl-9 {
    padding-right: @module * 16 !important;
  }

  .pb-xl-9,
  .py-xl-9 {
    padding-bottom: @module * 16 !important;
  }

  .pl-xl-9,
  .px-xl-9 {
    padding-left: @module * 16 !important;
  }

  .p-xl-10 {
    padding: @module * 24 !important;
  }

  .pt-xl-10,
  .py-xl-10 {
    padding-top: @module * 24 !important;
  }

  .pr-xl-10,
  .px-xl-10 {
    padding-right: @module * 24 !important;
  }

  .pb-xl-10,
  .py-xl-10 {
    padding-bottom: @module * 24 !important;
  }

  .pl-xl-10,
  .px-xl-10 {
    padding-left: @module * 24 !important;
  }
}

@include media-up(xxl) {
  .m-xxl-0 {
    margin: 0 !important;
  }

  .mt-xxl-0,
  .my-xxl-0 {
    margin-top: 0 !important;
  }

  .mr-xxl-0,
  .mx-xxl-0 {
    margin-right: 0 !important;
  }

  .mb-xxl-0,
  .my-xxl-0 {
    margin-bottom: 0 !important;
  }

  .ml-xxl-0,
  .mx-xxl-0 {
    margin-left: 0 !important;
  }

  .m-xxl-1 {
    margin: @module * 1 !important;
  }

  .mt-xxl-1,
  .my-xxl-1 {
    margin-top: @module * 1 !important;
  }

  .mr-xxl-1,
  .mx-xxl-1 {
    margin-right: @module * 1 !important;
  }

  .mb-xxl-1,
  .my-xxl-1 {
    margin-bottom: @module * 1 !important;
  }

  .ml-xxl-1,
  .mx-xxl-1 {
    margin-left: @module * 1 !important;
  }

  .m-xxl-2 {
    margin: @module * 2 !important;
  }

  .mt-xxl-2,
  .my-xxl-2 {
    margin-top: @module * 2 !important;
  }

  .mr-xxl-2,
  .mx-xxl-2 {
    margin-right: @module * 2 !important;
  }

  .mb-xxl-2,
  .my-xxl-2 {
    margin-bottom: @module * 2 !important;
  }

  .ml-xxl-2,
  .mx-xxl-2 {
    margin-left: @module * 2 !important;
  }

  .m-xxl-3 {
    margin: @module * 3 !important;
  }

  .mt-xxl-3,
  .my-xxl-3 {
    margin-top: @module * 3 !important;
  }

  .mr-xxl-3,
  .mx-xxl-3 {
    margin-right: @module * 3 !important;
  }

  .mb-xxl-3,
  .my-xxl-3 {
    margin-bottom: @module * 3 !important;
  }

  .ml-xxl-3,
  .mx-xxl-3 {
    margin-left: @module * 3 !important;
  }

  .m-xxl-4 {
    margin: @module * 4 !important;
  }

  .mt-xxl-4,
  .my-xxl-4 {
    margin-top: @module * 4 !important;
  }

  .mr-xxl-4,
  .mx-xxl-4 {
    margin-right: @module * 4 !important;
  }

  .mb-xxl-4,
  .my-xxl-4 {
    margin-bottom: @module * 4 !important;
  }

  .ml-xxl-4,
  .mx-xxl-4 {
    margin-left: @module * 4 !important;
  }

  .m-xxl-5 {
    margin: @module * 6 !important;
  }

  .mt-xxl-5,
  .my-xxl-5 {
    margin-top: @module * 6 !important;
  }

  .mr-xxl-5,
  .mx-xxl-5 {
    margin-right: @module * 6 !important;
  }

  .mb-xxl-5,
  .my-xxl-5 {
    margin-bottom: @module * 6 !important;
  }

  .ml-xxl-5,
  .mx-xxl-5 {
    margin-left: @module * 6 !important;
  }

  .m-xxl-6 {
    margin: @module * 8 !important;
  }

  .mt-xxl-6,
  .my-xxl-6 {
    margin-top: @module * 8 !important;
  }

  .mr-xxl-6,
  .mx-xxl-6 {
    margin-right: @module * 8 !important;
  }

  .mb-xxl-6,
  .my-xxl-6 {
    margin-bottom: @module * 8 !important;
  }

  .ml-xxl-6,
  .mx-xxl-6 {
    margin-left: @module * 8 !important;
  }

  .m-xxl-7 {
    margin: @module * 10 !important;
  }

  .mt-xxl-7,
  .my-xxl-7 {
    margin-top: @module * 10 !important;
  }

  .mr-xxl-7,
  .mx-xxl-7 {
    margin-right: @module * 10 !important;
  }

  .mb-xxl-7,
  .my-xxl-7 {
    margin-bottom: @module * 10 !important;
  }

  .ml-xxl-7,
  .mx-xxl-7 {
    margin-left: @module * 10 !important;
  }

  .m-xxl-8 {
    margin: @module * 12 !important;
  }

  .mt-xxl-8,
  .my-xxl-8 {
    margin-top: @module * 12 !important;
  }

  .mr-xxl-8,
  .mx-xxl-8 {
    margin-right: @module * 12 !important;
  }

  .mb-xxl-8,
  .my-xxl-8 {
    margin-bottom: @module * 12 !important;
  }

  .ml-xxl-8,
  .mx-xxl-8 {
    margin-left: @module * 12 !important;
  }

  .m-xxl-9 {
    margin: @module * 16 !important;
  }

  .mt-xxl-9,
  .my-xxl-9 {
    margin-top: @module * 16 !important;
  }

  .mr-xxl-9,
  .mx-xxl-9 {
    margin-right: @module * 16 !important;
  }

  .mb-xxl-9,
  .my-xxl-9 {
    margin-bottom: @module * 16 !important;
  }

  .ml-xxl-9,
  .mx-xxl-9 {
    margin-left: @module * 16 !important;
  }

  .m-xxl-10 {
    margin: @module * 24 !important;
  }

  .mt-xxl-10,
  .my-xxl-10 {
    margin-top: @module * 24 !important;
  }

  .mr-xxl-10,
  .mx-xxl-10 {
    margin-right: @module * 24 !important;
  }

  .mb-xxl-10,
  .my-xxl-10 {
    margin-bottom: @module * 24 !important;
  }

  .ml-xxl-10,
  .mx-xxl-10 {
    margin-left: @module * 24 !important;
  }

  .m-xxl-auto {
    margin: auto !important;
  }

  .mt-xxl-auto,
  .my-xxl-auto {
    margin-top: auto !important;
  }

  .mr-xxl-auto,
  .mx-xxl-auto {
    margin-right: auto !important;
  }

  .mb-xxl-auto,
  .my-xxl-auto {
    margin-bottom: auto !important;
  }

  .ml-xxl-auto,
  .mx-xxl-auto {
    margin-left: auto !important;
  }

  .p-xxl-0 {
    padding: 0 !important;
  }

  .pt-xxl-0,
  .py-xxl-0 {
    padding-top: 0 !important;
  }

  .pr-xxl-0,
  .px-xxl-0 {
    padding-right: 0 !important;
  }

  .pb-xxl-0,
  .py-xxl-0 {
    padding-bottom: 0 !important;
  }

  .pl-xxl-0,
  .px-xxl-0 {
    padding-left: 0 !important;
  }

  .p-xxl-1 {
    padding: @module * 1 !important;
  }

  .pt-xxl-1,
  .py-xxl-1 {
    padding-top: @module * 1 !important;
  }

  .pr-xxl-1,
  .px-xxl-1 {
    padding-right: @module * 1 !important;
  }

  .pb-xxl-1,
  .py-xxl-1 {
    padding-bottom: @module * 1 !important;
  }

  .pl-xxl-1,
  .px-xxl-1 {
    padding-left: @module * 1 !important;
  }

  .p-xxl-2 {
    padding: @module * 2 !important;
  }

  .pt-xxl-2,
  .py-xxl-2 {
    padding-top: @module * 2 !important;
  }

  .pr-xxl-2,
  .px-xxl-2 {
    padding-right: @module * 2 !important;
  }

  .pb-xxl-2,
  .py-xxl-2 {
    padding-bottom: @module * 2 !important;
  }

  .pl-xxl-2,
  .px-xxl-2 {
    padding-left: @module * 2 !important;
  }

  .p-xxl-3 {
    padding: @module * 3 !important;
  }

  .pt-xxl-3,
  .py-xxl-3 {
    padding-top: @module * 3 !important;
  }

  .pr-xxl-3,
  .px-xxl-3 {
    padding-right: @module * 3 !important;
  }

  .pb-xxl-3,
  .py-xxl-3 {
    padding-bottom: @module * 3 !important;
  }

  .pl-xxl-3,
  .px-xxl-3 {
    padding-left: @module * 3 !important;
  }

  .p-xxl-4 {
    padding: @module * 4 !important;
  }

  .pt-xxl-4,
  .py-xxl-4 {
    padding-top: @module * 4 !important;
  }

  .pr-xxl-4,
  .px-xxl-4 {
    padding-right: @module * 4 !important;
  }

  .pb-xxl-4,
  .py-xxl-4 {
    padding-bottom: @module * 4 !important;
  }

  .pl-xxl-4,
  .px-xxl-4 {
    padding-left: @module * 4 !important;
  }

  .p-xxl-5 {
    padding: @module * 6 !important;
  }

  .pt-xxl-5,
  .py-xxl-5 {
    padding-top: @module * 6 !important;
  }

  .pr-xxl-5,
  .px-xxl-5 {
    padding-right: @module * 6 !important;
  }

  .pb-xxl-5,
  .py-xxl-5 {
    padding-bottom: @module * 6 !important;
  }

  .pl-xxl-5,
  .px-xxl-5 {
    padding-left: @module * 6 !important;
  }

  .p-xxl-6 {
    padding: @module * 8 !important;
  }

  .pt-xxl-6,
  .py-xxl-6 {
    padding-top: @module * 8 !important;
  }

  .pr-xxl-6,
  .px-xxl-6 {
    padding-right: @module * 8 !important;
  }

  .pb-xxl-6,
  .py-xxl-6 {
    padding-bottom: @module * 8 !important;
  }

  .pl-xxl-6,
  .px-xxl-6 {
    padding-left: @module * 8 !important;
  }

  .p-xxl-7 {
    padding: @module * 10 !important;
  }

  .pt-xxl-7,
  .py-xxl-7 {
    padding-top: @module * 10 !important;
  }

  .pr-xxl-7,
  .px-xxl-7 {
    padding-right: @module * 10 !important;
  }

  .pb-xxl-7,
  .py-xxl-7 {
    padding-bottom: @module * 10 !important;
  }

  .pl-xxl-7,
  .px-xxl-7 {
    padding-left: @module * 10 !important;
  }

  .p-xxl-8 {
    padding: @module * 12 !important;
  }

  .pt-xxl-8,
  .py-xxl-8 {
    padding-top: @module * 12 !important;
  }

  .pr-xxl-8,
  .px-xxl-8 {
    padding-right: @module * 12 !important;
  }

  .pb-xxl-8,
  .py-xxl-8 {
    padding-bottom: @module * 12 !important;
  }

  .pl-xxl-8,
  .px-xxl-8 {
    padding-left: @module * 12 !important;
  }

  .p-xxl-9 {
    padding: @module * 16 !important;
  }

  .pt-xxl-9,
  .py-xxl-9 {
    padding-top: @module * 16 !important;
  }

  .pr-xxl-9,
  .px-xxl-9 {
    padding-right: @module * 16 !important;
  }

  .pb-xxl-9,
  .py-xxl-9 {
    padding-bottom: @module * 16 !important;
  }

  .pl-xxl-9,
  .px-xxl-9 {
    padding-left: @module * 16 !important;
  }

  .p-xxl-10 {
    padding: @module * 24 !important;
  }

  .pt-xxl-10,
  .py-xxl-10 {
    padding-top: @module * 24 !important;
  }

  .pr-xxl-10,
  .px-xxl-10 {
    padding-right: @module * 24 !important;
  }

  .pb-xxl-10,
  .py-xxl-10 {
    padding-bottom: @module * 24 !important;
  }

  .pl-xxl-10,
  .px-xxl-10 {
    padding-left: @module * 24 !important;
  }
}
