<template>
  <a-tag class="mt-2 mb-4" :color="statuses[quest.status].color">
    {{ statuses[quest.status].name || 'Undefined status' }}
  </a-tag>
</template>
<script>
import { mapState } from 'vuex'

export default {
  props: ['quest'],
  computed: {
    ...mapState({
      statuses: (state) => state.questsStore.statuses,
    }),
  },
}
</script>
