<template>
  <div>
    <a-button v-if="isWitcher" @click="isOpenModal = true"> {{ formTitle }}</a-button>
    <a-modal
      v-model:open="isOpenModal"
      :ok-button-props="{ disabled: isDisabled }"
      :ok-text="formTitle"
      :title="formTitle + ' испытание'"
      cancel-text="Отменить"
      @ok="handlerAction">
      <a-form :model="formState" layout="vertical">
        <a-form-item
          :rules="[{ required: true, message: 'Заполните поле Название' }]"
          label="Название"
          name="title">
          <a-input v-model:value="formState.title"></a-input>
        </a-form-item>

        <a-form-item label="Рекомендуемый уровень сложности" name="description">
          <a-input-number
            v-model:value="formState.preferred_level"
            :style="{ width: '100%' }"></a-input-number>
        </a-form-item>
        <a-form-item label="Ученик" name="title">
          <a-select
            v-model:value="formState.student_id"
            :field-names="{ label: 'name', value: 'ID' }"
            :get-popup-container="(trigger) => trigger.parentNode"
            :options="activeUsers"
            allow-clear></a-select>
        </a-form-item>
        <a-form-item label="Самый необходимый атрибут" name="title">
          <SegmentedOptions
            :segmented-options="segmentedMostNeededAttribute"
            :segmented-value="formState.most_needed_attribute"
            @updateSegmentedValue="updateSegmentedValue" />
        </a-form-item>
        <a-form-item
          :rules="[{ required: true, message: 'Заполните поле описание' }]"
          label="Описание"
          name="description">
          <a-textarea v-model:value="formState.description"></a-textarea>
        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import { UserController } from '@/controllers/UserController'
import { QuestController } from '@/controllers/QuestController'
import SegmentedOptions from '@/components/segmented/SegmentedOptions.vue'

export default {
  components: { SegmentedOptions },
  props: ['isCreateMode', 'quest'],
  data() {
    return {
      isOpenModal: false,
      formState: {
        title: '',
        description: '',
        preferred_level: 1,
        most_needed_attribute: 'agility',
        student_id: null,
      },
      segmentedMostNeededAttribute: [
        { value: 'agility', title: 'Ловкость' },
        { value: 'intelligence', title: 'Интеллект' },
        { value: 'strength', title: 'Сила' },
      ],
    }
  },
  methods: {
    async createQuest() {
      await QuestController.createQuest(this.formState).then(() => {
        this.$emit('loadQuests')
      })
    },
    async updateQuest() {
      await QuestController.updateQuest(this.quest.ID, this.formState).then(() => {
        this.$emit('loadQuest')
      })
    },
    async handlerAction() {
      if (this.isCreateMode) {
        await this.createQuest()
      } else {
        await this.updateQuest()
      }

      this.isOpenModal = false
    },
    updateSegmentedValue(value) {
      this.formState.most_needed_attribute = value
    },
  },
  computed: {
    ...mapState({
      users: (state) => state.usersStore.users,
    }),
    ...mapGetters({
      isWitcher: 'authStore/isWitcher',
    }),
    isDisabled() {
      return !(this.formState.title && this.formState.description)
    },
    formTitle() {
      return this.isCreateMode ? 'Создать' : 'Редактировать'
    },
    activeUsers() {
      return this.users.filter((user) => !user.is_dead && !user.is_banned)
    },
  },
  async mounted() {
    console.log('from')
    await UserController.loadUsers({ isCreateForm: true })
  },

  watch: {
    isOpenModal: {
      handler() {
        if (this.quest) {
          this.formState = { ...this.quest }
        }
      },
    },
  },
}
</script>
