<template>
  <div v-if="isWitcher" class="quest-item__actions">
    <div>
      <div v-if="isDone === null" class="d-flex align-center">
        <a-button :disabled="isLoadingCheck" class="mr-4" @click="checkQuest">Проверить</a-button>
        <a-spin v-if="isLoadingCheck" class="ml-2" size="small" />
      </div>
      <span v-else-if="isDone" :style="{ color: 'green' }">
        Задание выполнено
        <CheckOutlined />
      </span>
      <div v-if="isDone === false">
        <div>
          <span :style="{ color: 'red' }">
            Ученик жулье!
            <CloseOutlined />
          </span>
        </div>
        <a-button class="mt-4" @click="sendToDo">На доработку</a-button>
      </div>
    </div>
    <a-button class="action-save mt-4" qhost @click="acceptQuest">Принять</a-button>
  </div>
</template>

<script>
import { QuestController } from '@/controllers/QuestController'
import { mapGetters } from 'vuex'
import { CheckOutlined, CloseOutlined } from '@ant-design/icons-vue'

export default {
  props: ['quest'],
  components: { CheckOutlined, CloseOutlined },
  data() {
    return {
      isDone: null,
      isLoadingCheck: false,
    }
  },
  computed: {
    ...mapGetters({
      isWitcher: 'authStore/isWitcher',
    }),
  },
  methods: {
    async checkQuest() {
      try {
        this.isLoadingCheck = true
        const response = await QuestController.checkQuest(this.quest.ID)
        this.isDone = response.data.is_done
      } finally {
        this.isLoadingCheck = false
      }
    },
    async acceptQuest() {
      await QuestController.updateQuest(this.quest.ID, { status: 'Done' })
      this.$emit('loadQuests')
      await this.updateQuest({ status: 'Done' })
    },
    async sendToDo() {
      await this.updateQuest({ status: 'ToDo' })
    },

    async updateQuest(params) {
      await QuestController.updateQuest(this.quest.ID, params)
      this.$emit('loadQuests')
    },
  },
}
</script>
