<template>
  <div v-if="isDeath" class="quest-item__actions d-flex">
    <a-button class="mr-4" danger @click="killStudent">Убить</a-button>
    <a-button class="action-save" qhost @click="saveStudent">Пощадить</a-button>
  </div>
</template>

<script>
import { UserController } from '@/controllers/UserController'
import { QuestController } from '@/controllers/QuestController'
import { mapGetters } from 'vuex'

export default {
  props: ['quest'],
  computed: {
    ...mapGetters({
      isDeath: 'authStore/isDeath',
    }),
  },
  methods: {
    async killStudent() {
      await UserController.killUser(this.quest.student_id)
      this.$emit('loadQuests')
      this.$router.push('/quests')
    },
    async saveStudent() {
      await QuestController.updateQuest(this.quest.ID, { status: 'ToDo', is_done: true })
      this.$emit('loadQuests')
      this.$router.push('/quests')
    },
  },
}
</script>
