<template>
  <div>
    <a-button danger @click="isOpen = true"> Удалить</a-button>
    <a-modal v-model:open="isOpen" title="Подтвердить удаление" @ok="removeQuest">
      <p>Вы уверены что хотите удалить испытание?</p>
    </a-modal>
  </div>
</template>
<script>
import { QuestController } from '@/controllers/QuestController'

export default {
  props: ['id'],
  data() {
    return {
      isOpen: false,
    }
  },
  methods: {
    async removeQuest() {
      await QuestController.removeQuest(this.id)
      this.$router.push('/quests')
      this.isOpen = false
    },
  },
}
</script>
