<template>
  <div class="px-4 py-4">
    <a-typography-title :level="4">Регистрация</a-typography-title>
    <a-form
      :model="formState"
      autocomplete="off"
      layout="vertical"
      :rules="rules"
      class="signup-form mt-4"
      @finish="submit">
      <a-form-item label="Name" name="name">
        <a-input v-model:value="formState.name" placeholder="Введите имя"></a-input>
      </a-form-item>
      <a-form-item label="Почта" name="email">
        <a-input v-model:value="formState.email" placeholder="Введите почту"></a-input>
      </a-form-item>
      <a-form-item label="Пароль" name="password">
        <a-input v-model:value="formState.password" placeholder="Введите пароль"></a-input>
      </a-form-item>

      <a-button block class="mt-4" html-type="submit">Зарегистрироваться</a-button>
      <RouterLink to="/login">
        <a-button block type="text" class="mt-2">
          <a-typography-text type="secondary" class="mr-2"> Уже есть аккаунт?</a-typography-text>
          <span>Войти</span>
          <ArrowRightOutlined />
        </a-button>
      </RouterLink>
    </a-form>
  </div>
</template>

<script>
import { reactive } from 'vue'
import { useRouter } from 'vue-router'
import { AuthController } from '@/controllers/AuthController'
import { ArrowRightOutlined } from '@ant-design/icons-vue'

export default {
  components: {
    ArrowRightOutlined,
  },
  setup() {
    const formState = reactive({
      email: '',
      password: '',
      name: '',
    })
    const router = useRouter()

    const rules = {
      name: [
        { required: true, message: 'Please input your name', trigger: 'blur' },
        { min: 3, max: 15, message: 'Length should be 3 to 15', trigger: 'blur' },
      ],
      email: [{ required: true, message: 'Please input your email', trigger: 'blur' }],
      password: [{ required: true, message: 'Please set password', trigger: 'blur' }],
    }
    return {
      formState,
      router,
      rules,
    }
  },
  methods: {
    async submit() {
      try {
        await AuthController.signup(this.formState)
        await this.router.push('/')
      } catch (err) {
        console.error(err)
      }
    },
  },
}
</script>

<style lang="less">
.signup-form {
  width: 30%;
}
</style>
