<template>
  <a-layout>
    <MainHeader />
    <a-layout-content :style="{ padding: '0 50px', marginTop: '64px', minHeight: '100%' }">
      <router-view></router-view>
    </a-layout-content>
  </a-layout>
</template>

<script>
import axios from 'axios'
import MainHeader from '@/layout/MainHeader.vue'

axios.defaults.withCredentials = false

export default {
  name: 'App',
  components: { MainHeader },
}
</script>
