<template>
  <div>
    <form @submit.prevent="submitForm" v-if="!formSubmitted">
      <span>Full Name</span><br />
      <input v-model="name" type="text" placeholder="Enter your name" /><br />
      <span>Credentials</span><br />
      <input v-model="email" type="email" placeholder="Enter your email" /><br />
      <input v-model="password" type="password" placeholder="Enter your password" /><br />
      <input class="submit" type="submit" value="Submit" />
    </form>
    <div v-if="formSubmitted">
      <h3>Form Submitted</h3>
      <p>Name: {{ name }}</p>
      <p>Email: {{ email }}</p>
      <p>Password: {{ password }}</p>
      <small>Click on run to launch the app again.</small>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import { UserController } from '@/controllers/UserController'
export default {
  name: 'UserCreate',
  data() {
    return {
      name: '',
      email: '',
      password: '',
      formSubmitted: false,
    }
  },
  methods: {
    submitForm: async function () {
      console.log('Name: ' + this.name)
      console.log('email: ' + this.email)
      console.log('password: ' + this.password)
      try {
        await UserController.createUser({
          name: this.name,
          email: this.email,
          password: this.password,
        })
        this.formSubmitted = true
        this.$router.push('/users')
      } catch (err) {
        console.error(err)
      }
    },
  },
}
</script>
<style>
.submit {
  font-size: 15px;
  color: #fff;
  background: #222;
  padding: 6px 12px;
  border: none;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 5px;
}
</style>
