<template>
  <button @click="go">Test button</button>
</template>
<script>
import axios from 'axios'

export default {
  name: 'TestComponent',
  data() {
    return {
      data: {
        name: 'Ciry',
        address: 'Ulitca pushkina',
        description: 'Some description',
      },
    }
  },
  methods: {
    go: async function () {
      const url = 'http://localhost:8080/test'
      console.log('Trying...')
      await axios.get(url, {
        name: 'TEST NAME',
        address: 'TEST ADDRESS',
        description: 'TEST DESCRIPTION',
      })
    },
  },
}
</script>

<style></style>
