<template>
  <a-layout-header class="main-header justify-space-between d-flex align-center">
    <div class="d-flex align-center">
      <div class="main-header__logo mr-4">
        <RouterLink to="/home">
          <VedmachestvoLogo />
        </RouterLink>
      </div>
      <a-menu v-model:selectedKeys="selectedKey" class="main-header__list-links" mode="horizontal">
        <a-menu-item v-for="link in availableLinks" :key="link.url">
          <RouterLink :to="link.url">{{ link.title }}</RouterLink>
        </a-menu-item>
      </a-menu>
    </div>
    <a-button v-if="user.ID" @click="logout">Выйти</a-button>
  </a-layout-header>
</template>

<script>
import { mapState } from 'vuex'
import VedmachestvoLogo from '../assets/images/vedmachestvo-logo.svg'
import { navigationLinks } from '@/layout/navigation-links'
import { AuthController } from '@/controllers/AuthController'

export default {
  name: 'HomePage',
  components: {
    VedmachestvoLogo,
  },
  data() {
    return {}
  },
  computed: {
    ...mapState({
      user: (state) => state.authStore.user,
    }),
    selectedKey: function () {
      const { path } = this.$route
      return [path]
    },
    availableLinks: function () {
      const roles = {
        death: [navigationLinks.quests],
        witcher: [
          navigationLinks.laws,
          navigationLinks.quests,
          { ...navigationLinks.users, title: 'Ученики' },
        ],
        student: [
          { ...navigationLinks.users, title: 'Мой профиль', url: '/users/' + this.user.ID },
        ],
        headmaster: [
          navigationLinks.witchers,
          {
            ...navigationLinks.users,
            title: 'Ученики',
          },
        ],
      }

      return roles[this.user.role] || []
    },
  },
  methods: {
    async logout() {
      await AuthController.logout()
      this.$router.push('/login')
    },
  },
}
</script>

<style lang="less">
.main-header {
  position: fixed;
  z-index: 1;
  width: 100%;

  &__logo {
    transform: scale(0.7);

    a {
      display: flex;
      align-items: center;
    }
  }

  &__list-links {
    line-height: 64px;
  }
}
</style>
